{% extends "base.html" %}


{% block content_full %}

<div class="container">
<div class="row">
	<div class="offset2 span8">
	<form name="f" method="post" class="form-horizontal" action="/save-settings">
		<div class="control-group">
    		<div class="controls">
      			<label class="checkbox">
        			<input type="checkbox" name="show_ads" {% if settings.show_ads %}checked{% endif %}> Show ads
      			</label>
      			<label class="checkbox">
        			<input type="checkbox" name="show_analytics" {% if settings.show_analytics %}checked{% endif %}> Show analytics
      			</label>
      			<button type="submit" class="btn">Save settings</button>
    		</div>
  		</div>
	</form>
	</div>
	
	<div class="offset2 span8">
	<form name="f2" method="post" class="form-horizontal" action="/painter" enctype="multipart/form-data" >
		<div class="control-group">
    		<div class="controls">
      			<label class="control-label">
        			Select JSON file to import
      			</label>
      			<div class="controls">
      				<input type="file" name="artwork_json" />
      			</div>
    		</div>
    		<div class="controls">
    			<button type="submit" class="btn">Import</button>
    		</div>
  		</div>
	</form>
	</div>
	
	<div class="offset2 span8">
		<p>
			<a href="/admin/update-iterate-artworks">Iterate artworks for update</a>
		</p>
	</div>
	
</div>
</div>

  
{% endblock content_full %}


