{% extends "base.html" %}


{% block content_full %}

<div class="container">
<div class="row">
	<div class="col-xs-offset-2 col-xs-8 well">
	<form name="f" method="post" action="/save-settings">
		<div class="checkbox">
			<label class="checkbox">
        		<input type="checkbox" name="show_ads" {% if settings.show_ads %}checked{% endif %}> Show ads
      		</label>
		</div>
		<div class="checkbox">
  			<label class="checkbox">
    			<input type="checkbox" name="show_analytics" {% if settings.show_analytics %}checked{% endif %}> Show analytics
  			</label>			
		</div>
		<div class="form-group">
			<label for="adminEmail">Admin email</label>
    		<input type="text" name="admin_email" class="form-control" value="{{ settings.admin_email }}">
		</div>
		<button type="submit" class="btn">Save settings</button>
	</form>
	</div>
	
	<div class="col-xs-offset-2 col-xs-8 well">
		<p>
			<a href="/admin/refresh-index-page">Refresh index page</a>
		</p>
		
		<p>
			<a href="/profiles/blocked">Show blocked users</a>
		</p>

	</div>

	
	<div class="col-xs-offset-2 col-xs-8 well">
	<form name="f2" method="post" class="form-horizontal" action="/painter" enctype="multipart/form-data" >
		<div class="control-group">
    		<div class="controls">
      			<label class="control-label">
        			Select JSON file to import
      			</label>
      			<div class="controls">
      				<input type="file" name="artwork_json" />
      			</div>
    		</div>
    		<div class="controls">
    			<button type="submit" class="btn">Import</button>
    		</div>
  		</div>
	</form>
	</div>
	
	<div class="col-xs-offset-2 col-xs-8 well">
		<p>
			<a href="/admin/update-iterate">Update by dates</a>
		</p>
	</div>
	
</div>
</div>

  
{% endblock content_full %}


