{% extends "base.html" %}


{% block content_full %}

<div class="container">
<div class="row">
	<div class="col-xs-offset-2 col-xs-8 well">
	<form name="f" method="post" action="/save-settings">
		<div class="checkbox">
			<label class="checkbox">
        		<input type="checkbox" name="show_ads" {% if settings.show_ads %}checked{% endif %}> Show ads
      		</label>
		</div>
		<div class="checkbox">
  			<label class="checkbox">
    			<input type="checkbox" name="show_analytics" {% if settings.show_analytics %}checked{% endif %}> Show analytics
  			</label>			
		</div>
		<div class="form-group">
			<label for="admin_email">Admin email</label>
    		<input type="text" name="admin_email" class="form-control" value="{{ settings.admin_email }}">
		</div>
		<div class="form-group">
			<label for="admin_user_id">Admin email</label>
    		<input type="text" name="admin_user_id" class="form-control" value="{{ settings.admin_user_id }}">
		</div>
		<div class="form-group">
			<label for="exchange_url">Exchange URL</label>
    		<input type="text" name="exchange_url" class="form-control" value="{{ settings.exchange_url }}">
		</div>
		<div class="form-group">
			<label for="exchange_salt">Exchange salt</label>
    		<input type="text" name="exchange_salt" class="form-control" value="{{ settings.exchange_salt }}">
		</div>
		<button type="submit" class="btn btn-primary">Save settings</button>
	</form>
	</div>
	
	<div class="col-xs-offset-2 col-xs-8 well">
		<p>
			<a href="/admin/refresh-index-page">Refresh index page</a>
		</p>
		
		<p>
			<a href="/profiles/blocked">Show blocked users</a>
		</p>

        <p>
            <a href="/admin/tags?limit=100&offset=0">Tags moderation</a>
        </p>

	</div>

	
	<div class="col-xs-offset-2 col-xs-8 well">
	<form name="f2" method="post" class="form-horizontal" action="/painter" enctype="multipart/form-data" >
		<div class="control-group">
    		<div class="controls">
      			<label class="control-label">
        			Select JSON file to import
      			</label>
      			<div class="controls">
      				<input type="file" name="artwork_json" />
      			</div>
    		</div>
    		<div class="controls">
    			<button type="submit" class="btn">Import</button>
    		</div>
  		</div>
	</form>
	</div>
	
	<div class="col-xs-offset-2 col-xs-8 well">
		<p>
			<a href="/admin/update-iterate">Update by dates</a>
		</p>
	</div>

	<div class="col-xs-offset-2 col-xs-8 well">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Last time</th>
                <th>Properties</th>
            </tr>
            {% for t in task_statuses %}
                <tr>
                    <td><a href="/admin/tasks/{{ t.task_name }}">{{ t.task_name }}</a></td>
                    <td>{{ t.last_date }}</td>
                    <td>
                        {% if t.finished %}<div>Finished</div>{% else %}Not finished{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
	</div>

</div>
</div>

  
{% endblock content_full %}


