{% extends "base-adv.html" %}

{% block title %}{{ artwork.name }} - {{ block.super }}{% endblock %}
{% block description %}
<meta name="description" content="Artwork &quot;{{ artwork.name }}&quot; by {{ artwork.author.nickname }} at Grid Paint.">
{% endblock %}

{% block include_css %}
{{ block.super }}
{% endblock %}

{% block content %}  

<div class="single-container">
<div class="container">
	<div class="image-details-favorite-wrapper">
		<div class="image-details-favorite-count">{{ favorite_count }}</div>
		{% if user_info.user %}
		<div class="image-details-favorite {% if favorite %}star-favorite{% else %}star-not-favorite{% endif %}" id="favorite-star"></div>
		<div class="image-details-favorite-hint" style="display:none;">{% if favorite %}Remove image from favorites{% else %}Add image to favorites{% endif %}</div>
		{% else %}
		<div class="image-details-favorite star-favorite"></div>
		{% endif %}
	</div>
		{% if artwork.copyright_block %}
		<div style="text-align: center;">
		 	<img src="/img/copyright-image.png" />
		</div>
		<div style="font-size:2em; color:red; text-align: center">
			This image is blocked due to copyright infringement.
		</div>
		{% endif %}
		{% if artwork.block %}
		<div style="text-align: center;">
		 	<img src="/img/block-image.png" />
		</div>
		<div style="font-size:2em; color:red; text-align: center;">
			This image is blocked due to {{ artwork.block_reason }}.
		</div>
		{% endif %}
		{% if artwork.copyright_block or artwork.block %}
			{% if artwork.author.email == user_info.user.email %}
				<div style="font-size:1.5em; color:red; text-align: center;">
					As author, only you can see the image.
				</div>
			{% endif %}
		{% endif %}
		
	<div class="image-details-image">
		{% if not artwork.copyright_block and not artwork.block or user_info.superadmin or artwork.author.email == user_info.user.email %}
			<img class="main-image" src="{{ artwork.full_image_file_name }}" width="{{ artwork.thumbnail_width }}" height="{{ artwork.thumbnail_height }}">
			{% if artwork.pixel_image_file_name %}
				<div class="pixel-image" style="width: calc({{ artwork.pixel_image_width }}px + 20px); height: calc({{ artwork.pixel_image_height }}px + 20px)">
					<img src="{{ artwork.pixel_image_file_name }}" width="{{ artwork.pixel_image_width }}" height="{{ artwork.pixel_image_height }}">
				</div>
			{% endif %}
		{% endif %}
	</div>
	{% if not user_info.read_only and can_edit_artwork %}
	<div class="image-details-actions">
		<div class="btn-group">
		  <a href="/painter?id={{ artwork.key.id }}" class="btn btn-sm btn-success"><i class="icon icon-pencil icon-white"></i> Edit image</a>
		  <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu">
			<li><a href="/painter?copy_id={{ artwork.key.id }}"><i class="icon icon-copy icon-white"></i> Create copy</a></li>
			<li><a href="{{ artwork.full_image_file_name }}" target="_blank"><i class="icon icon-arrow-down"></i> Donwload PNG</a></li>
			<li><a href="/images/svg/{{ artwork.key.id }}.svg"><i class="icon icon-arrow-down"></i> Download SVG</a></li>
			{% if user_info.superadmin or user_is_author %}
			<li role="separator" class="divider"></li>
			<li><a href="#" image-key="{{ artwork.key.id }}" class="btn-delete-image"><i class="icon icon-remove icon-white"></i> Delete</a></li>
			{% endif %}
		  </ul>
		</div>

		{% if user_info.superadmin or user_is_author %}
		<div style="display: inline-block; margin-left: 20px">
			<span id="collaborators-count">0 collaborators</span>
			<button type="button" id="btn-invite-collaborators" class="btn btn-primary btn-xs"><i class="icon icon-plus icon-white"></i></button>
		</div>
		{% endif %}
	</div>
	{% endif %}
	{% if user_info.superadmin %}
	<div class="image-details-actions">
		<a href="/images/json/{{ artwork.key.id }}.json" class="btn btn-sm btn-default" title="Download JSON"><i class="icon icon-arrow-down"></i>JSON</a>
		<a href="#" id="admin-artwork-properties" class="btn btn-sm btn-default" title="Artwork properties">Properties</a>
		<a href="#" id="update-start-count" class="btn btn-sm btn-default" title="Update stars count"><i class="icon-star"></i> <i class="icon-refresh"></i></a>
	</div>
	{% endif %}

	<div class="image-details-header">
		<div class="image-details-header-avatar" style="background-image:url({{artwork.author.avatar_url}})"></div>
		<h3 id="artwork-name">
			{% if artwork.editor_choice %}
				<img src="/img/editor_choice.png" title="Editor's choice" />
			{% endif %}
			<img src="/img/grid-icons/{{ artwork.grid }}.png" /> {{ artwork.name }}
		</h3>
		<div class="details">
			<small>{{ artwork.date|date:"d M Y H:i" }}</small> by 
			<span class="artist">
				{% if artwork.author %}
				<a href="/profiles/{{ artwork.author.profile_id }}">{{ artwork.author.nickname }}</a>
					{% if user_info.user and user_info.profile_id != artwork.author.profile_id %}
						<button id="button_follow" class="btn btn-primary btn-tiny" {% if following %}style="display:none;"{% endif %}>Follow</button>
						<button id="button_unfollow" class="btn btn-default btn-tiny" {% if not following %}style="display:none;"{% endif %}>Unfollow</button>
					{% endif %}
				{% else %}
				{{ artwork.author.nickname }}
				{% endif %}
			</span>
		</div>

		{% if collaborators %}
		<div class="details">
			in collaboration with
			{% for c in collaborators %}
				<a href="/profiles/{{ c.profile_id }}">{{ c.nickname }}</a>{% if not forloop.last %},{% endif %}
			{% endfor %}
		</div>
		{% endif %}

		<div class="details-delimiter"></div>
		{% for d in artwork.description_list %}
		  <div class="description-text">{{ d }}</div>
		{% endfor%}
		{% if artwork.tags %}
		<div class="description-text">
			{% for tag in artwork.tags %}
			  <a href="/gallery?q={{ tag.url_name }}">#{{ tag.title }}</a>
			{% endfor %}
		</div>
		{% endif %}		
		
		<div style="clear: both"></div>		
	</div>
	
	<div class="delimiter"></div>
	
	<div class="image-details-comments">
		{% for comment in comments %}
		  <a name="comment-{{ comment.key }}"></a>
		  <div class="comment" id="comment-{{ comment.key }}" comment_id="{{ comment.key }}">
		  	<div class="comment-header">
		  		<div class="user-avatar-in-comment" style="background-image:url({{comment.author.avatar_url}})" ></div>
		  		<b>
		  			<span id="commenter-name">
                    {% if comment.author.self_block %}
                        {{ comment.author.nickname }}
                    {% else %}
                        {% if comment.author.profile_id %}
                            <a href="/profiles/{{ comment.author.profile_id}}">{{ comment.author.nickname }}</a>
                        {% else %}
                            {{ comment.author.nickname }}
                        {% endif %}
                    {% endif %}
		  			</span>
		  		</b> - {{ comment.date|date:"d M Y H:i" }}
		  		<div class="pull-right">
		  			{% if not user_info.read_only %}
			  			<span class="reply_comment_button btn btn-small btn-default" title="Reply" comment_id="{{ comment.key }}" parent_id="{{ comment.artwork_key }}"
			  					{% if comment.hidden %}style="display:none;"{% endif%} >
			  				<i class="glyphicon glyphicon-share-alt"></i> Reply
			  			</span>
		  			{% endif %}
		  			{% if not comment.hidden and user_info.user and not user_info.read_only %}
		  				<span class="complain_comment_button btn btn-small btn-default" title="Complain" comment_id="{{ comment.key }}" parent_id="{{ comment.artwork_key }}"
		  					{% if comment.hidden %}style="display:none;"{% endif%} >
		  					<i class="glyphicon glyphicon-exclamation-sign"></i>
		  				</span>
		  			{% endif %}
		  		  			
			  		{% if user_info.superadmin %}
			  			<span class="hide_comment_button btn btn-small btn-default" title="Hide comment" comment_id="{{ comment.key }}" parent_id="{{ comment.artwork_key }}"
			  					{% if comment.hidden %}style="display:none;"{% endif%} >
			  				<i class="glyphicon glyphicon-eye-close"></i>
			  			</span>
			  			<span class="show_comment_button btn btn-small btn-default" title="Show comment" comment_id="{{ comment.key }}" parent_id="{{ comment.artwork_key }}"
			  					{% if not comment.hidden %}style="display:none"{% endif %} >
			  				<i class="glyphicon glyphicon-eye-open"></i>
			  			</span>
			  			<span class="delete_comment_button btn btn-small btn-default" title="Delete comment" comment_id="{{ comment.key }}" parent_id="{{ comment.artwork_key }}">
			  				<i class="glyphicon glyphicon-trash"></i>
			  			</span>
			  		{% endif %}
		  		</div>
		  	</div>
		  	{% if user_info.superadmin %}
                {% if comment.hidden %}
		  		<div class="comment-text"  id="text_hidden" style="color:red;">Hidden by administrator</div>
                {% endif %}
			  	{% for t in comment.text %}
			  	  <div class="comment-text">{{t}}</div>
			  	{% endfor %}		  	
		  	{% else %}
                {% if comment.author.self_block %}
                    <div class="comment-text" style="color: gray;">[Comment not available]</div>
                {% endif %}
			  	{% if comment.hidden %}
			  		<div class="comment-text" style="color:red;">Hidden by administrator</div>
			  	{% endif %}
			  	{% if not comment.hidden %}
				  	{% for t in comment.text %}
				  	  <div class="comment-text">{{t}}</div>
				  	{% endfor %}
			  	{% endif %}
		  	{% endif %}
		  	
		  </div>
		{% endfor %}
	</div>
	
	
	{% if not user_info.read_only %}
	<div class="image-details-comment-add">
		<form name="f" role="form" method="POST" action="/save-comment" onsubmit="return onCommentSubmit();">
			<input type="hidden" name="artwork_id" value="{{ artwork.key.id }}" />
			<input type="hidden" name="ref_comment_id" value="" />
			<div class="form-group col-xs-12" style="padding-left: 0; padding-right: 0;">
				<textarea name="comment_text" class="form-control" rows="3"></textarea>
			</div>
			<div class="form-group col-xs-12" style="padding-left: 0; padding-right: 0;">
				{% if user_info.user %}
				  <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#x1f642;</button>
				  <ul class="dropdown-menu smiles-dropdown" aria-labelledby="dropdownMenu2">
  				  </ul>
				  <button type="submit" class="btn btn-primary pull-right">Add a comment</button>
				{% else %}
				  <a href="{{ user_info.login_url }}">Login into Google account to leave a comment</a>
				{% endif %}
			</div>
		</form>
	</div>
	{% endif %}
</div>
</div>


<div id="modal-confirm-delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>One fine body</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a href="#" id="btn-confirm-delete" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>


<div id="modal-error" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>One fine body</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

<div id="modal-invite-collaborator" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Invite collaborators</h4>
      </div>
      <div class="modal-body">
        <div style="height: 300px;" id="invite-collaborator-list">
			<div class="spinner"></div>
		</div>
      </div>
    </div>
  </div>
</div>



<script>
var artworkId='{{ artwork.key.id }}';
var authorId ='{{ artwork.author.profile_id }}';
favorite={% if favorite %}true{% else %}false{% endif %};
favorite_count={{ favorite_count }};
authorsArtwork={% if artwork.author.email == user_info.user.email %}true{% else %}false{% endif %};

$(function() {
	$(".btn-delete-image").click(
		function() {
			var imageName=$("#artwork-name").text();
			$("#modal-confirm-delete .modal-body").html(
				"<p>Are you sure to delete image <i>'"+imageName+"'</i></p>");
			$("#btn-confirm-delete").attr("href","/delete-image?id="+$(this).attr("image-key"));
			$("#modal-confirm-delete").modal('show');
		}
	);
	
	$("#favorite-star")
		.mouseenter(function() {
			$(".image-details-favorite-hint").show();
		})
		.mouseleave(function() {
			$(".image-details-favorite-hint").hide();
		})
		.click(function() {
			if (authorsArtwork) {
				showWarningDialog("You cannot favorite your own artwork. Choose artwork of another artist.");
				return;
			}
			
			$.getJSON('/toggle-favorite?id='+artworkId,
				function(data) {
					if (data.not_changed) {
						showWarningDialog("You can click on the same star not more often than once per minute.");
						return;
					}
					if (data.not_allowed_for_author) {
					    showWarningDialog("You cannot favorite your own artwork.");
						return;
                    }
					favorite=data.favorite;
					favorite_count=data.favorite_count;
					$('.image-details-favorite-count').text(favorite_count);
					if (favorite) {
						$('.image-details-favorite').removeClass('star-not-favorite').addClass('star-favorite');
						$('.image-details-favorite-hint').text('Remove image from favorites');
					} else {
						$('.image-details-favorite').removeClass('star-favorite').addClass('star-not-favorite');
						$('.image-details-favorite-hint').text('Add image to favorites');
					}
				});
		});
		
	$(".reply_comment_button").click(function(data) {
		comment_id = $(this).attr("comment_id");
		$("input[name=ref_comment_id]").val(comment_id);
		
		var commenter_name = $("#comment-"+comment_id).find("#commenter-name").text().trim();
		$("textarea[name=comment_text]").text("Reply to "+commenter_name+":\n");
		
		$("textarea[name=comment_text]").focus();
	});
	
	$(".complain_comment_button").click(function(data) {
		comment_id = $(this).attr("comment_id");
		artwork_id = $(this).attr("parent_id");
		$.getJSON("/complain-comment?comment_id="+comment_id+"&artwork_id="+artwork_id);
		$('#comment-'+comment_id).slideUp();
	});	
});

function showErrorDialog(message) {
	$("#modal-error .modal-body").html("<p>"+message+"</p>");
	$("#modal-error .modal-title").html("Error");
	$("#modal-error").modal();
}

function showWarningDialog(message) {
	$("#modal-error .modal-body").html("<p>"+message+"</p>");
	$("#modal-error .modal-title").html("Warning");
	$("#modal-error").modal();
}

function onCommentSubmit() {
	var commentText=$("textarea[name=comment_text]").val();
	if (!commentText) {
		showErrorDialog("Your comment is empty. Please enter your message and try again.");
		return false;
	}
	
	if (commentText.length>1000) {
		showErrorDialog("Your comment is too long. It cannot be more than 1000 characters.");
		return false;
	}
	
	input_ref_comment_id = $("input[name=ref_comment_id]");
	if (!input_ref_comment_id.val()) {
		ref_comment_id = $(".comment").last().attr("comment_id");
		if (ref_comment_id) {
			input_ref_comment_id.val(ref_comment_id);
		}
	}
	
	return true;
}
</script>

<script>
$(function() {
	$("#button_follow").click(function() {
		$.getJSON('/follow?user_id='+authorId)
			.done(function(data) {
				if (data=="OK") {
					$("#button_follow").hide();
					$("#button_unfollow").show();
				} else if (data=="not_changed") {
					showErrorDialog("You can follow or unfollow the same person once per minute.");
				}
			});	

	});
	
	$("#button_unfollow").click(function() {
		$.getJSON('/unfollow?user_id='+authorId)
			.done(function(data) {
				if (data=="OK") {
					$("#button_follow").show();
					$("#button_unfollow").hide();
				} else if (data=="not_changed") {
					showErrorDialog("You can follow or unfollow the same person once per minute.");
				}
			});			
	});
});
</script>

<script>
var smiles_array = [
'1f642',
'1f643',
'1f600',
'1f609',
'1f923',
'1f60d',
'1f929',
'1f61c',
'1f910',
'1f611',
'1f922',
'1f60e',
'1f641',
'1f632',
'1f631',
];

$(function() {
	smiles_html = '';
	for (var i=0; i<smiles_array.length; i++) {
		smiles_html += '<li><a href="javascript:void()">&#x' + smiles_array[i]+';</a></li>';
	}
	$('.smiles-dropdown').html(smiles_html);

	$('.smiles-dropdown>li>a').click(function(event) {
		var smile = $(this).text();
		var text = $('textarea[name=comment_text]').val();
		$('textarea[name=comment_text]').val(text + smile);
		event.stopPropagation();
	});
})
</script>


<script>
$(function() {
	$('#btn-invite-collaborators').click(function() {
		$('#invite-collaborator-list').html('<div class="spinner"></div>');
		$('#modal-invite-collaborator').modal('show');
		$.getJSON('/json/leaders?limit=100&offset=0&profile_id='+authorId).success(
			function(data) {
				if (data.length == 0) {
					html = '<p>You can invite for collaboration those users, who you follow.</p><p>Follow your friend and invite him to paint together.</p>'
					$('#invite-collaborator-list').html(html);
					return;
				}

				html = '<table class="table table-striped"><tbody class="table-content">';
				for (var i = 0; i < data.length; i++) {
					item = data[i];
					html +=
						`<tr>
							<td>
								<a href="/profiles/${item.profile_id}" target="_blank">
									<div class="user-avatar-in-list" style="background-image: url(${item.avatar_url})"></div>${item.nickname}
								</a>
							</td>
							<td style="width: 50px; text-align: right;">
							    <span id="invited-${item.profile_id}" style="display: none;">invited</span>
							    <span id="invite-request-${item.profile_id}" style="display: none;"><i class="icon icon-circle-blank" /></span>
								<button type="button" class="btn btn-primary btn-xs btn-invite-collaborator-item" id="btn-invite-${item.profile_id}" btn-data="${item.profile_id}">Invite</button>
							</td>
						</tr>`
				}
				html += '</tbody></table>';
				$('#invite-collaborator-list').html(html);
				$('.btn-invite-collaborator-item').click(function(event) {
					collaborator_id = event.target.getAttribute('btn-data')
					$('#btn-invite-'+collaborator_id).css('display', 'none');
					$('#invite-request-'+collaborator_id).css('display', '');
					$.post(
					    '/json/artwork-invite-collaborator',
					    {
                            'artwork_id': artworkId,
                            'collaborator_id': event.target.getAttribute('btn-data')
					    },
					    null,
					    'json'
					).done(function(data) {
					    $('#invite-request-'+collaborator_id).css('display', 'none');
					    $('#invited-'+collaborator_id).css('display', '');
					}).fail(function() {
					});
				})
			}
		)
	})
})
</script>



{% if user_info.superadmin %}
<link href="/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
<script src="/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>


<div id="properties-modal" id="modal-confirm-delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Artwork properties</h4>
      </div>
      <div class="modal-body">
        <form name="adminForm" method="POST" action="/admin/saveArtworkProperties" role="form">
        	<input type="hidden" name="admin_artwork_id" value="{{ artwork.key.id }}" />
        	<div class="form-group">
    			<label>Artwork title</label>
    			<input type="text" name="admin_artwork_name" id="admin_artwork_name" value="{{ artwork.name }}" class="form-control"/>
    		</div>
    		<div class="form-group">
    			<label>Artwork description</label>
    			<textarea name="admin_artwork_description" id="admin_artwork_description" class="form-control" style="height:150px;">{{ artwork.description|default_if_none:"" }}</textarea>
    		</div>
    		<div class="form-group">
    			<label>Tags</label>
    			<div>
    				<input type="text" value="{{ artwork.tags_merged }}" name="admin_artwork_tags" id="admin_artwork_tags" autocomplete="off"/>
    			</div>
    		</div>
    		<div class="checkbox">
    			<label>
    				<input name="admin_artwork_editor_choice" type="checkbox" {% if artwork.editor_choice %}checked{% endif %}/> Editor's choice
    			</label>
    		</div>
    		<div class="checkbox">
    			<label>
    				<input name="admin_artwork_copyright_block" type="checkbox" {% if artwork.copyright_block %}checked{% endif %}/> Copyright block
    			</label>
    		</div>
    		<div class="checkbox">
    			<label>
    				<input name="admin_artwork_block" type="checkbox" {% if artwork.block %}checked{% endif %}/> Block image
    			</label>
    		</div>
    		<div class="form-group">
    			<label>Block reason</label>
    			<div>
    				<input type="text" value="{{ artwork.block_reason }}" name="admin_artwork_block_reason" id="admin_artwork_block_reason"/>
    			</div>
    		</div>    		
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    	<button id="btn-admin-artwork-properties-save" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
	var tags=$("#admin_artwork_tags");
	tags.tagsinput();
	tags.tagsinput('input').typeahead({
		name: "dataset",
		remote: "/tag-typeahead?query=%QUERY"
    }).bind('typeahead:selected', $.proxy(function (obj, datum) {
      tags.tagsinput('add', datum.value);
      tags.tagsinput('input').typeahead('setQuery', '');
    }, $('input')));
	
	
	$("#admin-artwork-properties").click(
		function() {
			$("#properties-modal").modal();
		});
		
	$("#btn-admin-artwork-properties-save").click(
		function() {
			//$("form[name=adminForm]")[0].submit();

			showCircleLoader();
			$.ajax({
				type: 'post',
				url: '/json/admin/save-image-properties',
				data: $("form[name=adminForm]").serialize(),
				dataType: "json",
				success: function(data) {
					if (data.result) {
						$.ajax({
							type: 'post',
							url: '/json/save-image-tags',
							data: {
								artwork_id: artworkId,
								artwork_tags: $('input[name=admin_artwork_tags]').val()
							},
							dataType: 'json',
							success: function(data) {
								document.location = '/images/details/' + artworkId;
							},
							error: function() {
								hideCircleLoader();
								showWarningMessage("Something went wrong. Try again.");
							}
						})
					} else {
						hideCircleLoader();
					}
				},
				error: function() {
					hideCircleLoader();
					showWarningMessage("Something went wrong. Try again.")
				}
			});
		});
		
	$(".delete_comment_button").click(function(data) {
		comment_id = $(this).attr("comment_id");
		parent_id = $(this).attr("parent_id");
		deleteComment(comment_id, parent_id);
	});
	
	$(".hide_comment_button").click(function(data) {
		comment_id = $(this).attr("comment_id");
		parent_id = $(this).attr("parent_id");
		hideComment(comment_id, parent_id);
	});
	
	$(".show_comment_button").click(function(data) {
		comment_id = $(this).attr("comment_id");
		parent_id = $(this).attr("parent_id");
		showComment(comment_id, parent_id);
	});
	
	$("#update-start-count").click(function() {
		$.getJSON('/admin/updateArtworkFavorites?artwork_id='+artworkId,
			function(data) {
				favorite_count=data.count;
				$('.image-details-favorite-count').text(favorite_count);
			});
	});
});

function deleteComment(id, parent_id) {
	$.getJSON('/admin/delete-comment?id='+id+'&parent_id='+parent_id)
		.done(function(data) {
			if (data=="OK") {
				$("#comment-"+id).remove();
			}
		});
}

function hideComment(id, parent_id) {
	$.getJSON('/admin/hide-comment?id='+id+'&parent_id='+parent_id)
		.done(function(data) {
			if (data=="OK") {
				$("#comment-"+id).find("#text_hidden").show();
				$("#comment-"+id).find(".show_comment_button").show();
				$("#comment-"+id).find(".hide_comment_button").hide();
			}
		});	
}

function showComment(id, parent_id) {
	$.getJSON('/admin/show-comment?id='+id+'&parent_id='+parent_id)
		.done(function(data) {
			if (data=="OK") {
				$("#comment-"+id).find("#text_hidden").hide();
				$("#comment-"+id).find(".show_comment_button").hide();
				$("#comment-"+id).find(".hide_comment_button").show();
			}
		});	
}

function showCircleLoader() {
	$('body').append(
		'<div id="spinner-fullscreen" class="spinner-fillscreen-wrapper"><div class="spinner wide"></div></div>'
	)
}

function hideCircleLoader() {
	$('#spinner-fullscreen').remove();
}
</script>


{% endif %}



{% endblock content %}