{% extends "base-adv.html" %}

{% block title %}{{ artwork.name }} - {{ block.super }}{% endblock %}
{% block description %}
<meta name="description" content="Artwork &quot;{{ artwork.name }}&quot; by {{ artwork.author.nickname }} at Grid Paint.">
{% endblock %}

{% block include_css %}
{{ block.super }}
 <link href="/social-likes/social-likes.css" rel="stylesheet">
{% endblock %}

{% block content %}  

<script src="/social-likes/social-likes.min.js"></script>

<div class="single-container">
<div class="container">
	<div class="image-details-image">
		<div class="image-details-favorite-wrapper">
			<div class="image-details-favorite-count">{{ favorite_count }}</div>
			{% if user_info.user %}
			<div class="image-details-favorite {% if favorite %}star-favorite{% else %}star-not-favorite{% endif %}" id="favorite-star"></div>
			<div class="image-details-favorite-hint" style="display:none;">{% if favorite %}Remove image from favorites{% else %}Add image to favorites{% endif %}</div>
			{% else %}
			<div class="image-details-favorite star-favorite"></div>
			{% endif %}
		</div>
		{% if not artwork.copyright_block and not artwork.block or user_info.superadmin or artwork.author.email == user_info.user.email %}
			<img class="main-image" src="{{ artwork.full_image_file_name }}" width="{{ artwork.thumbnail_width }}" height="{{ artwork.thumbnail_height }}">
			{% if artwork.pixel_image_file_name %}
				<div class="pixel-image" style="width: calc({{ artwork.pixel_image_width }}px + 20px); height: calc({{ artwork.pixel_image_height }}px + 20px)">
					<img src="{{ artwork.pixel_image_file_name }}" width="{{ artwork.pixel_image_width }}" height="{{ artwork.pixel_image_height }}">
				</div>
			{% endif %}
		{% endif %}
		{% if artwork.copyright_block %}
		<div>
		 	<img src="/img/copyright-image.png" />
		</div>
		<div style="font-size:2em; color:red;">
			This image is blocked due to copyright infringement.
		</div>
		{% endif %}
		{% if artwork.block %}
		<div>
		 	<img src="/img/block-image.png" />
		</div>
		<div style="font-size:2em; color:red;">
			This image is blocked due to {{ artwork.block_reason }}.
		</div>
		{% endif %}
		{% if artwork.copyright_block or artwork.block %}
			{% if artwork.author.email == user_info.user.email %}
				<div style="font-size:1.5em; color:red;">
					Only you can see the image.
				</div>
			{% endif %}
		{% endif %}
	</div>
	<div class="image-details-header">				
		<h3 id="artwork-name">
			{% if artwork.editor_choice %}
				<img src="/img/editor_choice.png" title="Editor's choice" />
			{% endif %}
			<img src="/img/grid-icons/{{ artwork.grid }}.png" /> {{ artwork.name }}
		</h3>
		<div class="details">
			<small>{{ artwork.date|date:"d M Y H:i" }}</small> by 
			<span class="artist">
				{% if artwork.author %}
				<a href="/profiles/{{ artwork.author.profile_id }}">{{ artwork.author.nickname }}</a>
				{% else %}
				{{ artwork.author.nickname }}
				{% endif %}
			</span>
		</div>
		{% for d in artwork.description_list %}
		  <div class="description-text">{{ d }}</div>
		{% endfor%}
		{% if artwork.tags %}
		<div>
			<i class="icon icon-tag"></i>
			{% for tag in artwork.tags %}
			  <a href="/gallery?q={{ tag.title }}">{{ tag.title }}</a>
			{% endfor %}
		</div>
		{% endif %}		
		
		<div style="clear: both"></div>		
	</div>
	
	<div class="image-details-actions" style="overflow: hidden;">
		<div class="fb-like" data-href="http://grid-paint.com/images/details/{{ artwork.key.id }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
	</div>
	
	{% if not user_info.read_only %}
	<div class="image-details-actions">
		{% if can_edit_artwork %}
		<a href="/painter?id={{ artwork.key.id }}" class="btn btn-sm btn-success" title="Edit image"><i class="icon icon-pencil icon-white"></i> Edit</a>
		<a href="#" image-key="{{ artwork.key.id }}" class="btn btn-sm btn-danger btn-delete-image" title="Delete image"><i class="icon icon-remove icon-white"></i> Delete</a>
		<a href="{{ artwork.full_image_file_name }}" class="btn btn-sm btn-default" title="Download PNG"><i class="icon icon-arrow-down"></i>PNG</a>
		<a href="/images/svg/{{ artwork.key.id }}.svg" class="btn btn-sm btn-default" title="Download SVG"><i class="icon icon-arrow-down"></i>SVG</a>
		{% endif %}
		{% if user_info.superadmin %}
		<a href="/images/json/{{ artwork.key.id }}.json" class="btn btn-sm btn-default" title="Download JSON"><i class="icon icon-arrow-down"></i>JSON</a>
		<a href="#" id="admin-artwork-properties" class="btn btn-sm btn-default" title="Artwork properties">Properties</a>
		<a href="#" id="update-start-count" class="btn btn-sm btn-default" title="Update stars count"><i class="icon-star"></i> <i class="icon-refresh"></i></a>
		{% endif %}
		{% if can_edit_artwork %}
		<a href="/painter?copy_id={{ artwork.key.id }}" class="btn btn-sm btn-primary" title="Create a copy" style="float:right;"><i class="icon icon-copy icon-white"></i> Create a copy</a>
		{% endif %}
	</div>
	{% endif %}
	
	
	<div class="delimiter"></div>
	
	<div class="image-details-comments">
		{% for comment in comments %}
		  <a name="comment-{{ comment.key }}"></a>
		  <div class="comment" id="comment-{{ comment.key }}" comment_id="{{ comment.key }}">
		  	<div class="comment-header">
		  		<b>
		  			<span id="commenter-name">
		  			{% if comment.author.profile_id %}<a href="/profiles/{{ comment.author.profile_id}}">{{ comment.author.nickname }}</a>
		  			{% else %}
		  			{{ comment.author.nickname }}
		  			{% endif %}
		  			</span>
		  		</b> - {{ comment.date|date:"d M Y H:i" }}
		  		<div class="pull-right">
		  			{% if not user_info.read_only %}
			  			<span class="reply_comment_button btn btn-small btn-default" title="Reply" comment_id="{{ comment.key }}" parent_id="{{ comment.artwork_key }}"
			  					{% if comment.hidden %}style="display:none;"{% endif%} >
			  				<i class="glyphicon glyphicon-share-alt"></i> Reply
			  			</span>
		  			{% endif %}
		  			{% if not comment.hidden and user_info.user and not user_info.read_only %}
		  				<span class="complain_comment_button btn btn-small btn-default" title="Complain" comment_id="{{ comment.key }}" parent_id="{{ comment.artwork_key }}"
		  					{% if comment.hidden %}style="display:none;"{% endif%} >
		  					<i class="glyphicon glyphicon-exclamation-sign"></i>
		  				</span>
		  			{% endif %}
		  		  			
			  		{% if user_info.superadmin %}
			  			<span class="hide_comment_button btn btn-small btn-default" title="Hide comment" comment_id="{{ comment.key }}" parent_id="{{ comment.artwork_key }}"
			  					{% if comment.hidden %}style="display:none;"{% endif%} >
			  				<i class="glyphicon glyphicon-eye-close"></i>
			  			</span>
			  			<span class="show_comment_button btn btn-small btn-default" title="Show comment" comment_id="{{ comment.key }}" parent_id="{{ comment.artwork_key }}"
			  					{% if not comment.hidden %}style="display:none"{% endif %} >
			  				<i class="glyphicon glyphicon-eye-open"></i>
			  			</span>
			  			<span class="delete_comment_button btn btn-small btn-default" title="Delete comment" comment_id="{{ comment.key }}" parent_id="{{ comment.artwork_key }}">
			  				<i class="glyphicon glyphicon-trash"></i>
			  			</span>
			  		{% endif %}
		  		</div>
		  	</div>
		  	{% if user_info.superadmin %}
		  		<div class="comment-text"  id="text_hidden" style="color:red;{% if not comment.hidden %}display:none;{% endif %}">Hidden by administrator</div>
			  	{% for t in comment.text %}
			  	  <div class="comment-text">{{t}}</div>
			  	{% endfor %}		  	
		  	{% else %}
			  	{% if comment.hidden %}
			  		<div class="comment-text" style="color:red;">Hidden by administrator</div>
			  	{% endif %}
			  	{% if not comment.hidden %}
				  	{% for t in comment.text %}
				  	  <div class="comment-text">{{t}}</div>
				  	{% endfor %}
			  	{% endif %}
		  	{% endif %}
		  	
		  </div>
		{% endfor %}
	</div>
	
	
	{% if not user_info.read_only %}
	<div class="image-details-comment-add">
		<form name="f" role="form" method="POST" action="/save-comment" onsubmit="return onCommentSubmit();">
			<input type="hidden" name="artwork_id" value="{{ artwork.key.id }}" />
			<input type="hidden" name="ref_comment_id" value="" />
			<div class="form-group col-xs-12" style="padding-left: 0; padding-right: 0;">
				<textarea name="comment_text" class="form-control" rows="3"></textarea>
			</div>
			<div class="form-group col-xs-12 text-right" style="padding-left: 0; padding-right: 0;">
				{% if user_info.user %}
				  <button type="submit" class="btn btn-primary">Add a comment</button>
				{% else %}
				  <a href="{{ user_info.login_url }}">Login into Google account to leave a comment</a>
				{% endif %}
			</div>
		</form>
	</div>
	{% endif %}
</div>
</div>


<div id="modal-confirm-delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>One fine body</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a href="#" id="btn-confirm-delete" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>


<div id="modal-error" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>One fine body</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>



<script>
artworkId='{{ artwork.key.id }}';
favorite={% if favorite %}true{% else %}false{% endif %};
favorite_count={{ favorite_count }};
authorsArtwork={% if artwork.author.email == user_info.user.email %}true{% else %}false{% endif %};

$(function() {
	$(".btn-delete-image").click(
		function() {
			var imageName=$("#artwork-name").text();
			$("#modal-confirm-delete .modal-body").html(
				"<p>Are you sure to delete image <i>'"+imageName+"'</i></p>");
			$("#btn-confirm-delete").attr("href","/delete-image?id="+$(this).attr("image-key"));
			$("#modal-confirm-delete").modal('show');
		}
	);
	
	$("#favorite-star")
		.mouseenter(function() {
			$(".image-details-favorite-hint").show();
		})
		.mouseleave(function() {
			$(".image-details-favorite-hint").hide();
		})
		.click(function() {
			if (authorsArtwork) {
				showWarningDialog("You cannot favorite your own artwork. Choose artwork of another artist.");
				return;
			}
			
			$.getJSON('/toggle-favorite?id='+artworkId,
				function(data) {
					favorite=data.favorite;
					favorite_count=data.favorite_count;
					$('.image-details-favorite-count').text(favorite_count);
					if (favorite) {
						$('.image-details-favorite').removeClass('star-not-favorite').addClass('star-favorite');
						$('.image-details-favorite-hint').text('Remove image from favorites');
					} else {
						$('.image-details-favorite').removeClass('star-favorite').addClass('star-not-favorite');
						$('.image-details-favorite-hint').text('Add image to favorites');
					}
				});
		});
		
	$(".reply_comment_button").click(function(data) {
		comment_id = $(this).attr("comment_id");
		$("input[name=ref_comment_id]").val(comment_id);
		
		var commenter_name = $("#comment-"+comment_id).find("#commenter-name").text().trim();
		$("textarea[name=comment_text]").text("Reply to "+commenter_name+":\n");
		
		$("textarea[name=comment_text]").focus();
	});
	
	$(".complain_comment_button").click(function(data) {
		comment_id = $(this).attr("comment_id");
		artwork_id = $(this).attr("parent_id");
		$.getJSON("/complain-comment?comment_id="+comment_id+"&artwork_id="+artwork_id);
		$('#comment-'+comment_id).slideUp();
	});	
});

function showErrorDialog(message) {
	$("#modal-error .modal-body").html("<p>"+message+"</p>");
	$("#modal-error .modal-title").html("Error");
	$("#modal-error").modal();
}

function showWarningDialog(message) {
	$("#modal-error .modal-body").html("<p>"+message+"</p>");
	$("#modal-error .modal-title").html("Warning");
	$("#modal-error").modal();
}

function onCommentSubmit() {
	var commentText=$("textarea[name=comment_text]").val();
	if (!commentText) {
		showErrorDialog("Your comment is empty. Please enter your message and try again.");
		return false;
	}
	
	if (commentText.length>1000) {
		showErrorDialog("Your comment is too long. It cannot be more than 1000 characters.");
		return false;
	}
	
	input_ref_comment_id = $("input[name=ref_comment_id]");
	if (!input_ref_comment_id.val()) {
		ref_comment_id = $(".comment").last().attr("comment_id");
		if (ref_comment_id) {
			input_ref_comment_id.val(ref_comment_id);
		}
	}
	
	return true;
}
</script>



{% if user_info.superadmin %}
<link href="/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
<script src="/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>


<div id="properties-modal" id="modal-confirm-delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Artwork properties</h4>
      </div>
      <div class="modal-body">
        <form name="adminForm" method="POST" action="/admin/saveArtworkProperties" role="form">
        	<input type="hidden" name="admin_artwork_id" value="{{ artwork.key.id }}" />
        	<div class="form-group">
    			<label>Artwork title</label>
    			<input type="text" name="admin_artwork_name" id="admin_artwork_name" value="{{ artwork.name }}" class="form-control"/>
    		</div>
    		<div class="form-group">
    			<label>Artwork description</label>
    			<textarea name="admin_artwork_description" id="admin_artwork_description" class="form-control" style="height:150px;">{{ artwork.description|default_if_none:"" }}</textarea>
    		</div>
    		<div class="form-group">
    			<label>Tags</label>
    			<div>
    				<input type="text" value="{{ artwork.tags_merged }}" name="admin_artwork_tags" id="admin_artwork_tags" autocomplete="off"/>
    			</div>
    		</div>
    		<div class="checkbox">
    			<label>
    				<input name="admin_artwork_editor_choice" type="checkbox" {% if artwork.editor_choice %}checked{% endif %}/> Editor's choice
    			</label>
    		</div>
    		<div class="checkbox">
    			<label>
    				<input name="admin_artwork_copyright_block" type="checkbox" {% if artwork.copyright_block %}checked{% endif %}/> Copyright block
    			</label>
    		</div>
    		<div class="checkbox">
    			<label>
    				<input name="admin_artwork_block" type="checkbox" {% if artwork.block %}checked{% endif %}/> Block image
    			</label>
    		</div>
    		<div class="form-group">
    			<label>Block reason</label>
    			<div>
    				<input type="text" value="{{ artwork.block_reason }}" name="admin_artwork_block_reason" id="admin_artwork_block_reason"/>
    			</div>
    		</div>    		
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    	<button id="btn-admin-artwork-properties-save" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
	var tags=$("#admin_artwork_tags");
	tags.tagsinput();
	tags.tagsinput('input').typeahead({
		name: "dataset",
		remote: "/tag-typeahead?query=%QUERY"
    }).bind('typeahead:selected', $.proxy(function (obj, datum) {
      tags.tagsinput('add', datum.value);
      tags.tagsinput('input').typeahead('setQuery', '');
    }, $('input')));
	
	
	$("#admin-artwork-properties").click(
		function() {
			$("#properties-modal").modal();
		});
		
	$("#btn-admin-artwork-properties-save").click(
		function() {
			$("form[name=adminForm]")[0].submit();	
		});
		
	$(".delete_comment_button").click(function(data) {
		comment_id = $(this).attr("comment_id");
		parent_id = $(this).attr("parent_id");
		deleteComment(comment_id, parent_id);
	});
	
	$(".hide_comment_button").click(function(data) {
		comment_id = $(this).attr("comment_id");
		parent_id = $(this).attr("parent_id");
		hideComment(comment_id, parent_id);
	});
	
	$(".show_comment_button").click(function(data) {
		comment_id = $(this).attr("comment_id");
		parent_id = $(this).attr("parent_id");
		showComment(comment_id, parent_id);
	});
	
	$("#update-start-count").click(function() {
		$.getJSON('/admin/updateArtworkFavorites?artwork_id='+artworkId,
			function(data) {
				favorite_count=data.count;
				$('.image-details-favorite-count').text(favorite_count);
			});
	});
});

function deleteComment(id, parent_id) {
	$.getJSON('/admin/delete-comment?id='+id+'&parent_id='+parent_id)
		.done(function(data) {
			if (data=="OK") {
				$("#comment-"+id).remove();
			}
		});
}

function hideComment(id, parent_id) {
	$.getJSON('/admin/hide-comment?id='+id+'&parent_id='+parent_id)
		.done(function(data) {
			if (data=="OK") {
				$("#comment-"+id).find("#text_hidden").show();
				$("#comment-"+id).find(".show_comment_button").show();
				$("#comment-"+id).find(".hide_comment_button").hide();
			}
		});	
}

function showComment(id, parent_id) {
	$.getJSON('/admin/show-comment?id='+id+'&parent_id='+parent_id)
		.done(function(data) {
			if (data=="OK") {
				$("#comment-"+id).find("#text_hidden").hide();
				$("#comment-"+id).find(".show_comment_button").hide();
				$("#comment-"+id).find(".hide_comment_button").show();
			}
		});	
}
</script>


{% endif %}



{% endblock content %}