{% extends "base-adv.html" %}


{% block content %}  

<div class="row-fluid">
	<div class="image-details-image">
		<img src="/images/png/{{ artwork.key }}.png" width="{{ artwork.thumbnail_width }}" height="{{ artwork.thumbnail_height }}">
	</div>
	<div class="image-details-header">
		<h3 id="artwork-name">{{ artwork.name }}</h3>
		<div>{{ artwork.date|date:"d M Y H:i" }}</div>
		<div>by <span class="image-details-artist">{{ artwork.author.nickname }}</span></div>
		{% if artwork.tags %}
		<div>
			<i class="icon icon-tag"></i>
			{% for tag in artwork.tags %}
			  {{ tag.title }}
			{% endfor %}
		</div>
		{% endif %}		
	</div>
	
	<div class="image-details-actions">
		{% if can_edit_artwork %}
		<a href="/painter?id={{ artwork.key }}" class="btn btn-small btn-success" title="Edit image"><i class="icon icon-pencil icon-white"></i> Edit</a>
		<a href="#" image-key="{{ artwork.key }}" class="btn btn-small btn-danger btn-delete-image" title="Delete image"><i class="icon icon-remove icon-white"></i> Delete</a>		
		{% endif %}
		<a href="/images/png/{{ artwork.key }}.png" class="btn btn-small" title="Download PNG"><i class="icon icon-arrow-down"></i>PNG</a>
		<a href="/images/svg/{{ artwork.key }}.svg" class="btn btn-small" title="Download SVG"><i class="icon icon-arrow-down"></i>SVG</a>
	</div>
	
	
	<div class="delimiter"></div>
	
	<div class="image-details-comments">
		{% for comment in comments %}
		  <div class="comment-header">{{ comment.author.nickname }} - {{ comment.date|date:"d M Y H:i" }}</div>
		  <div class="comment-text">{{ comment.text }}</div>
		{% endfor %}
	</div>
	
	
	<div class="image-details-comment-add">
		<form name="f" method="POST" action="/save-comment" class="form-inline">
			<input type="hidden" name="artwork_id" value="{{ artwork.key }}" />
			<textarea name="comment_text" class="span12"></textarea>
			<div style="text-align: right; margin-top:10px;">
				<button type="submit" class="btn btn-primary">Add a comment</button>
			</div>
		</form>
	</div>
</div>



<div id="modal-confirm-delete" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Confirmation</h3>
  </div>
  <div class="modal-body">
    <p>One fine body</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" id="btn-confirm-delete" class="btn btn-danger">Delete</a>
  </div>
</div>


<script>
$(function() {
	$(".btn-delete-image").click(
		function() {
			var imageName=$("#artwork-name").text();
			$("#modal-confirm-delete .modal-body").html(
				"<p>Are you sure to delete image <i>'"+imageName+"'</i></p>");
			$("#btn-confirm-delete").attr("href","/delete-image?id="+$(this).attr("image-key"))
			$("#modal-confirm-delete").modal('show');
		}
	)
})
</script>




{% endblock content %}