{% extends "base.html" %}

{% block content_full %}

<div class="container-fluid" style="padding-left:0; padding-right:0;">
	<div class="row-fluid">
		<div class="sidebar-adv text-center">
			<img src="/img/banner-sample.png" width="160" height="600" border="0"/>
		</div>
		<div class="content fluid-fixed">
{% block content %}
{% endblock %}			
	
		</div>		
	</div>
</div>


{% block footer %}

<div class="common-page-footer">
&copy; Idea, design and programming by Vlad Alexeev, 2013.<br>
Send you questions and feedback to <a href="mailto:vlad.alexeev@gmail.com">vlad.alexeev@gmail.com</a><br>
<a href="/privacy-policy">Privacy policy</a>
</div>
{%  endblock footer%}		


{% endblock %}


