{% extends "base.html" %}

{% block content_full %}

<div class="container-fluid" style="padding-left:0; padding-right:0;">
	<div class="row-fluid">
		<div class="sidebar-adv text-center">
			{% if settings.show_ads and not user_info.superadmin %}
<script type="text/javascript">
google_ad_client = "ca-pub-0036569436360210";
google_ad_slot = "7723143793";
google_ad_width = 160;
google_ad_height = 600;
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
			{% else %}
				<img src="/img/banner-sample.png" width="160" height="600" border="0"/>
			{% endif %}
		</div>
		<div class="content fluid-fixed">
{% block content %}
{% endblock %}			
	
		</div>		
	</div>
</div>


{% block footer %}

<div class="common-page-footer">
&copy; Idea, design and programming by Vlad Alexeev, 2013-2017.<br>
Send you questions and feedback to <a href="mailto:vlad.alexeev@gmail.com">vlad.alexeev@gmail.com</a><br>
<a href="/privacy-policy">Privacy policy</a> | Version {{ app_version }} | <a href="/history">History of changes</a>
</div>
{%  endblock footer%}


{% endblock %}


