{% extends "base.html" %}

{% block content_full %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=146050916213549&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>



<div class="container-fluid" style="padding-left:0; padding-right:0;">
	<div class="row-fluid">
		<div class="sidebar-adv text-center">
			{% if settings.show_ads and not user_info.superadmin %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0036569436360210"
     data-ad-slot="8990769571"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
			{% else %}
				<div class="dummy-banner">Banner</div>
			{% endif %}
		</div>
		<div class="content fluid-fixed">
{% block content %}
{% endblock %}	

<div class="container">
	<div style="margin-top:10px; margin-bottom: 10px;">
		{% if settings.show_ads and not user_info.superadmin %}
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-0036569436360210"
		     data-ad-slot="8990769571"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		{% else %}
			<div class="dummy-banner dummy-banner-bottom">Banner</div>
		{% endif %}
	</div>
</div>
	
		</div>		
	</div>
</div>


{% block footer %}

<div class="common-page-footer">
&copy; Idea, design and programming by Vlad Alexeev, 2013-2019.<br>
Send you questions and feedback to <a href="mailto:vlad.alexeev@gmail.com">vlad.alexeev@gmail.com</a><br>
<a href="/rules">Site rules</a> | <a href="/privacy-policy">Privacy policy</a> | Version {{ app_version }} | <a href="/history">History of changes</a>
</div>
{%  endblock footer%}


{% endblock %}


