{% extends "base-adv.html" %}


{% block content %}

<div class="container">

<h2>Recent comments</h2>


<div class="image-details-comments">
</div>

<div id="nav_buttons" style="display:none; margin:10px;" class="text-center">
	<form name="a" class="form-inline">
		<button id="button_prev" type="button" class="btn btn-small btn-desfault">Prev</button>
		<input type="text" id="offset" class="form-control" size="4" />
		<button id="button_next" type="button" class="btn btn-small btn-desfault">Next</button>
	</form>
</div>


</div>

<script>
var maxCount = 10;

function getCurrentOffset() {
	return parseInt($("#offset").val(), 10);
}

function setCurrentOffset(offset) {
	$("#offset").val(offset);
	showCurrentOffset();
}

function showCurrentOffset() {
	loadComments(maxCount+1, getCurrentOffset());
}

function loadComments(limit, offset) {
	$.getJSON(
		'/json/comments?limit='+limit+"&offset="+offset
	).done(function(data) {
		html='';
		for (var i=0; i<data.length && i<maxCount; i++) {
			html+=commentToHtml(data[i]);
		}
		$(".image-details-comments").html(html);
		
		{% if user_info.superadmin %}
		$(".delete_comment_button").click(function(data) {
			comment_id = $(this).attr("comment_id");
			parent_id = $(this).attr("parent_id");
			deleteComment(comment_id, parent_id);
		});
		{% endif %}
		
		if (offset>0 || data.length>maxCount) {
			$("#nav_buttons").show();
			if (offset>0) {
				$("#button_prev").removeAttr("disabled");
			} else {
				$("#button_prev").attr("disabled","disabled");
			}
			
			if (data.length>maxCount) {
				$("#button_next").removeAttr("disabled");
			} else {
				$("#button_next").attr("disabled","disabled");
			}
		}
	});
}

function formatDate(date) {
	var months=["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
	result="";
	if (date.getDay()<10) {
		result+="0"+date.getDay();
	} else {
		result+=gate.getDay();
	}
	
	result+=" "+months[date.getMonth()]+" ";
	
	if (date.getHours()<10) {
		result+="0"+date.getHours();
	} else {
		result+=date.getHours();
	}
	
	result+=":";
	
	if (date.getMinutes()<10) {
		result+="0"+date.getMinutes();
	} else {
		result+=date.getMinutes();
	}
	
	return result;
}

function commentToHtml(c) {
	result=
		'<div class="rich-comment" id="comment-'+c['key']+'">'+
			'<div class="rich-comment-image">'+
				'<a href="/images/details/'+c['artwork_key']+'">'+
					'<img src="'+c['small_image_file']+'" width="'+c['small_image_width']+'" height="'+c['small_image_height']+'" border="0"/>'+
				'</a>'+
			'</div>'+
			'<div class="comment">'+
				'<div class="comment-header">'+
			  		{% if user_info.superadmin %}
			  			'<div class="pull-right">'+
			  			'<span class="delete_comment_button" title="Delete comment" comment_id="'+c['key']+'" parent_id="'+c['artwork_key']+'"><i class="icon icon-remove"></i></span>'+
			  			'</div>'+
			  		{% endif %}				
					'<h2><a href="/images/details/'+c['artwork_key']+'">'+c['artwork_name']+'</a></h2>'+
					'<div>'+formatDate(new Date(Date.parse(c['date'])))+' <b>'+c['author']['nickname']+'</b></div>'+
				'</div>';
				
	for (var i=0; i<c['text'].length; i++) {
		result+='<div class="comment-text">'+c['text'][i]+'</div>';
	}
	
	result+='</div></div>';
	return result;
}

$(function() {
	$("#button_prev").click(function() {
		var offset = getCurrentOffset() - maxCount;
		if (offset<0) {
			offset=0;
		}
		setCurrentOffset(offset);
	});
	
	$("#button_next").click(function() {
		var offset = getCurrentOffset() + maxCount;
		setCurrentOffset(offset);
	});
	
	$("#offset").keypress(function(event) {
		if (event.which==13) {
			showCurrentOffset();
			event.preventDefault();
		}
	});
	
	setCurrentOffset(0);
});

{% if user_info.superadmin %}
function deleteComment(id, parent_id) {
	$.getJSON('/delete-comment?id='+id+'&parent_id='+parent_id+'&json=1')
		.done(function(data) {
			if (data=="OK") {
				$("#comment-"+id).remove();
			}
		});
}

{% endif %}
</script>

  
{% endblock content %}


