{% extends "base-adv.html" %}


{% block content %}

<div class="single-container">
<div class="container">

{% if profile_id %}
	{% if profile_id == user_info.profile_id %}
		<h2>My comments</h2>
	{% else %}
		<h2>Recent comments of {{ nickname }}</h2>
	{% endif %}
{% else %}
<h2>Recent comments</h2>
{% endif %}


<div class="image-details-comments">
</div>

<div id="nav_buttons" style="display:none; margin:10px;" class="text-center">
	<form name="a" class="form-inline">
		<button id="button_prev" type="button" class="btn btn-small btn-desfault">Prev</button>
		<input type="text" id="offset" class="form-control" size="4" />
		<button id="button_next" type="button" class="btn btn-small btn-desfault">Next</button>
	</form>
</div>


</div>

<div class="empty-page-message" style="display:none;">
</div>

</div>

<script>
var maxCount = 10;

{% if profile_id %}
var profile_id = {{ profile_id }}; 
{% else %}
var profile_id = 0;
{% endif %}

function getCurrentOffset() {
	return parseInt($("#offset").val(), 10);
}

function setCurrentOffset(offset) {
	$("#offset").val(offset);
	showCurrentOffset();
}

function showCurrentOffset() {
	loadComments(maxCount+1, getCurrentOffset());
}

function loadComments(limit, offset) {
	$.getJSON(
		'/json/comments?limit='+limit+"&offset="+offset+(profile_id > 0 ? '&profile_id='+profile_id : '')
	).done(function(data) {
		html='';
		for (var i=0; i<data.length && i<maxCount; i++) {
			html+=commentToHtml(data[i]);
		}
		$(".image-details-comments").html(html);
		
		{% if user_info.superadmin %}
		$(".delete_comment_button").click(function(data) {
			comment_id = $(this).attr("comment_id");
			parent_id = $(this).attr("parent_id");
			deleteComment(comment_id, parent_id);
		});
		
		$(".hide_comment_button").click(function(data) {
			comment_id = $(this).attr("comment_id");
			parent_id = $(this).attr("parent_id");
			hideComment(comment_id, parent_id);
		});
		
		$(".show_comment_button").click(function(data) {
			comment_id = $(this).attr("comment_id");
			parent_id = $(this).attr("parent_id");
			showComment(comment_id, parent_id);
		});		
		{% endif %}
		
		if (offset>0 || data.length>maxCount) {
			$("#nav_buttons").show();
			if (offset>0) {
				$("#button_prev").removeAttr("disabled");
			} else {
				$("#button_prev").attr("disabled","disabled");
			}
			
			if (data.length>maxCount) {
				$("#button_next").removeAttr("disabled");
			} else {
				$("#button_next").attr("disabled","disabled");
			}
		}
		
		if (data.length == 0) {
			if (offset == 0) {
				$(".empty-page-message").text('No comments yet');
			} else {
				$(".empty-page-message").text('No more comments');
			}
			$(".empty-page-message").show();
		} else {
			$(".empty-page-message").hide();
		}
	});
}

function formatDate(date) {
	var months=["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
	result="";
	if (date.getDate()<10) {
		result+="0"+date.getDate();
	} else {
		result+=date.getDate();
	}
	
	result+=" "+months[date.getMonth()]+" ";
	
	if (date.getHours()<10) {
		result+="0"+date.getHours();
	} else {
		result+=date.getHours();
	}
	
	result+=":";
	
	if (date.getMinutes()<10) {
		result+="0"+date.getMinutes();
	} else {
		result+=date.getMinutes();
	}
	
	return result;
}

function commentToHtml(c) {
	result=
		'<div class="rich-comment" id="comment-'+c['key']+'">'+
			'<div class="rich-comment-image">'+
				'<a href="/images/details/'+c['artwork_key']+'">'+
					(c.artwork_copyright_block ? 
						'<img src="/img/copyright-thumb.png" width="100" height="75" />':
						(c.artwork_block ? 
							'<img src="/img/block-thumb.png" width="100" height="75" />':
							'<img src="'+c['small_image_file']+'" width="'+c['small_image_width']+'" height="'+c['small_image_height']+'" border="0"/>'))+
				'</a>'+
			'</div>'+
			'<div class="comment">'+
				'<div class="comment-header">'+
			  		{% if user_info.superadmin %}
			  			'<div class="pull-right">'+
			  			'<span class="hide_comment_button btn btn-small btn-default" title="Hide comment" comment_id="'+c['key']+'" parent_id="'+c['artwork_key']+'" '+
			  					(c['hidden'] ? 'style="display:none"': '')+'>'+
			  				'<i class="glyphicon glyphicon-eye-close"></i>'+
			  			'</span>'+
			  			'<span class="show_comment_button btn btn-small btn-default" title="Show comment" comment_id="'+c['key']+'" parent_id="'+c['artwork_key']+'" '+
			  					(c['hidden'] ? '': 'style="display:none"')+'>'+
			  				'<i class="glyphicon glyphicon-eye-open"></i>'+
			  			'</span>'+
			  			'<span class="delete_comment_button btn btn-small btn-default" title="Delete comment" comment_id="'+c['key']+'" parent_id="'+c['artwork_key']+'">'+
			  				'<i class="glyphicon glyphicon-trash"></i>'+
			  			'</span>'+
			  			'</div>'+
			  		{% endif %}				
					'<h2><a href="/images/details/'+c['artwork_key']+'">'+c['artwork_name']+'</a></h2>'+
					'<div>'+
						formatDate(new Date(Date.parse(c['date'])))+
						' <b>'+
							(c['author']['profile_id'] ?  
								'<a href="/profiles/'+c['author']['profile_id']+'">'+c['author']['nickname']+'</a>':
								c['author']['nickname'])+
						'</b>'+
					'</div>'+
				'</div>';
				
	result+='<div class="comment-text" id="text_hidden" style="color:red;'+(c['hidden'] ? '' : 'display:none;')+'">Hidden by administrator</div>';
	
	{% if user_info.superadmin %}
	for (var i=0; i<c['text'].length; i++) {
		result+='<div class="comment-text">'+escapeDiamond(c['text'][i])+'</div>';
	}
	{% else %}
	if (!c['hidden']) {
		for (var i=0; i<c['text'].length; i++) {
			result+='<div class="comment-text">'+escapeDiamond(c['text'][i])+'</div>';
		}
	}
	{% endif %}
	
	result+='</div></div>';
	return result;
}

function escapeDiamond(str) {
	return str.replace(/</g, '&lt;').replace(/>/g, '&gt;');
}

$(function() {
	$("#button_prev").click(function() {
		var offset = getCurrentOffset() - maxCount;
		if (offset<0) {
			offset=0;
		}
		setCurrentOffset(offset);
		window.scrollTo(0,0);
	});
	
	$("#button_next").click(function() {
		var offset = getCurrentOffset() + maxCount;
		setCurrentOffset(offset);
		window.scrollTo(0,0);
	});
	
	$("#offset").keypress(function(event) {
		if (event.which==13) {
			showCurrentOffset();
			window.scrollTo(0,0);
			event.preventDefault();
		}
	});
	
	setCurrentOffset(0);
});

{% if user_info.superadmin %}
function deleteComment(id, parent_id) {
	$.getJSON('/admin/delete-comment?id='+id+'&parent_id='+parent_id)
		.done(function(data) {
			if (data=="OK") {
				$("#comment-"+id).remove();
				showCurrentOffset();
			}
		});
}

function hideComment(id, parent_id) {
	$.getJSON('/admin/hide-comment?id='+id+'&parent_id='+parent_id)
		.done(function(data) {
			if (data=="OK") {
				$("#comment-"+id).find("#text_hidden").show();
				$("#comment-"+id).find(".show_comment_button").show();
				$("#comment-"+id).find(".hide_comment_button").hide();
			}
		});	
}

function showComment(id, parent_id) {
	$.getJSON('/admin/show-comment?id='+id+'&parent_id='+parent_id)
		.done(function(data) {
			if (data=="OK") {
				$("#comment-"+id).find("#text_hidden").hide();
				$("#comment-"+id).find(".show_comment_button").hide();
				$("#comment-"+id).find(".hide_comment_button").show();
			}
		});	
}

{% endif %}
</script>

  
{% endblock content %}


