{% extends "base-adv.html" %}


{% block content %}

<div class="container">

<h2>Recent comments</h2>


<div class="image-details-comments">
</div>


</div>

<script>
var maxCount = 25 

function loadComments(limit, offset) {
	$.getJSON(
		'/json/comments?limit='+limit+"&offset="+offset
	).done(function(data) {
		html='';
		for (var i=0; i<data.length; i++) {
			html+=commentToHtml(data[i]);
		}
		$(".image-details-comments").html(html);
	});
}

function commentToHtml(c) {
	result=
		'<div class="rich-comment">'+
			'<div class="rich-comment-image">'+
				'<a href="/images/details/'+c['artwork_key']+'">'+
					'<img src="'+c['small_image_file']+'" width="'+c['small_image_width']+'" height="'+c['small_image_height']+'" border="0"/>'+
				'</a>'+
			'</div>'+
			'<div class="comment">'+
				'<div class="comment-header">'+
					'<h2><a href="/images/details/'+c['artwork_key']+'">'+c['artwork_name']+'</a></h2>'+
					'<div>'+c['date']+'<b>'+c['author.nickname']+'</b></div>'+
				'</div>';
				
	for (var i=0; i<c['text'].length; i++) {
		result+='<div class="comment-text">'+c['text'][i]+'</div>';
	}
	
	result+='</div></div>';
	return result;
}

$(function() {
	loadComments(maxCount, 0);
});
</script>

  
{% endblock content %}


