{% extends "base-adv.html" %}


{% block content %}  
<div class="thumb-container">
	
{% if artworks|length_is:"0" %}
	<div class="empty-page-message">
		No images found by your query.<br>
		Try to <a href="/new-image">draw</a> your own image.
	</div>
{% else %}
	<ul class="thumbnails">	
	{% if has_prev_page %}
	<li class="thumbnail thumb-button">	
		<div class="caption">
			<div class="thumb-button-image">
			<a href="{{ prev_page_href }}"><img src="/img/prev-page.png"></a>
			</div>
		</div>
	</li>
	{% endif%}	
	
	{% for a in artworks %}
	<li class="thumbnail">
  		<div class="thumb-image">
  			<a href="/images/details/{{ a.key }}">
		  	<img src="/images/png/{{ a.thumbnail_image_name }}" width="{{ a.thumbnail_width }}" height="{{ a.thumbnail_height }}">
			</a>
		</div>
		<div class="caption" >
			<div class="thumb-title">{{ a.name }}</div>
			<div class="thumb-author">{{ a.author_name }}</div>
			<div class="thumb-date">{{ a.date|date:"d M Y H:i" }}</div>
		</div>
	</li>
	{% endfor %}

	{% if has_next_page %}
	<li class="thumbnail thumb-button">
		<div class="caption">
			<div class="thumb-button-image">
			<a href="{{ next_page_href }}"><img src="/img/next-page.png" width="200" height="200"></a>
			</div>
		</div>
	</li>
	{% endif %}
	</ul>
{% endif %}

</div>

<script>
$(function() {
	$("#top-menu-gallery").addClass("active");
})
</script>


{% endblock content %}
