<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav navbar-nav navbar-right nocollapse header-user-panel" style="font-size: 20px; float:right;">
      {% if user_info.user_name%}
        {% if user_info.has_notifications %}
	        <li>
    	    	<a href="/notifications">
	    	    	<span class="blink" style="color:#c00000;">
		    	    	<span class="header-item-wide" style="color:#c00000;">{{ user_info.notifications_count }}</span>
		        		<span><i class="icon-envelope"></i></span>
	        		</span>
        		</a>
        	</li>
        {% endif %}
        <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown" {% if user_info.read_only %}style="color:red;"{% endif %}>
		      {% if user_info.superadmin %}<span class="header-item-wide"><i class="icon-star-empty"></i></span>{% endif%}
		      {% if user_info.read_only %}<span class="header-item-wide"><i class="icon-remove-sign"></i></span>{% endif %}
		      <span class="header-user"><i class="icon-user"></i></span>
		    </a>
		    <ul class="dropdown-menu">
		  	  	<li>
		  	  		<a href="/my-profile">
		  	  			<div class="my-profile-menu-text">My profile</div>
		  	  			<div class="my-profile-menu-email">{{user_info.user.email}}</div>
		  	  		</a>
		  	  	</li>
		  	  	{% if user_info.superadmin %}
		  	  		<li><a href="/admin">Administration</a></li>
		  	  	{% endif %}
		    	<li class="delimiter"></li>
		  	  <li><a href="{{ user_info.login_url }}">{{ user_info.login_url_text }}</a></li>
		    </ul>
        </li>      
      {% else %}
        <li>
		  <a href="{{ user_info.login_url }}">{{ user_info.login_url_text }}</a>
        </li>
      {% endif %}
        <li style="width:20px;"></li>
    </ul>

  <button aria-controls="bs-navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-navbar" data-toggle="collapse" type="button">
  	<span class="icon-bar"></span>
  	<span class="icon-bar"></span>
  	<span class="icon-bar"></span>  	
  </button>
    
  <div class="navbar-header">
  	<a class="navbar-brand" href="/">
  		<img src="/img/logo.png" style="float: left; margin-top:-6px; margin-bottom:-20px; margin-left:10px; margin-right:10px;"> 
  		Grid paint
  	</a>
  </div>
  
  <div class="collapse navbar-collapse" id="bs-navbar">
    <ul class="nav navbar-nav">
      <li id="top-menu-gallery"><a href="/gallery">Gallery</a></li>
      <li id="top-menu-my-images"><a href="/my-images">My images</a></li>
      {% if user_info.user %}
      <li id="top-menu-my-favorites"><a href="/my-favorites">My favorites</a></li>
      {% endif %}
      {% if not user_info.read_only %}
      <li id="top-menu-new-image"><a href="/new-image">New image</a></li>
      {% endif %}
    </ul>
            
    
    <form class="navbar-form navbar-right" role="search" method="GET" action="/gallery" id="search-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" value="{{ search_query }}" name="q" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-success">Search</button>
    </form>

  </div>
  
</nav>

<script>
$.fn.flash = function(duration, iterations) {
    duration = duration || 1000; // Default to 1 second
    iterations = iterations || 1; // Default to 1 iteration
    var iterationDuration = duration / iterations;

    for (var i = 0; i < iterations; i++) {
        this.fadeOut(iterationDuration).fadeIn(iterationDuration);
    }
}


$(function() {
	$("input[name=q]")
		.typeahead({
			name: "dataset",
			remote: "/tag-typeahead?query=%QUERY"
		})
		
	$('.blink').flash(5000,10);
});

</script>