{% extends "base-adv.html" %}


{% block content %}

<div class="container">

<h2>Drawing images together with friends</h2>


<p>
Drawing in Grid Paint became more interestings. Now you can draw images together with your friends.
</p>

<p>
Click on button "Collaborators" on a page with your image
</p>

<p>
<img src="/img/help/collaborators/1.png" width="400" />
</p>

<p>
Invite your friends to take part in editing of the image.
</p>

<p>
<img src="/img/help/collaborators/2.png" width="400" />	
</p>

<p>
Wait until your friend accepts your invitation.
</p>

<p>
<img src="/img/help/collaborators/3.png" width="400" />	
</p>
	
<p>
Work on the image together at the same time. You will see, which part of the image your friend is modifying.	
</p>

<p>
<img src="/img/help/collaborators/4.png" width="400" />	
</p>
	



</div>

  
{% endblock content %}


