{% extends "base-adv.html" %}


{% block content %}

<div class="container">

<h2>History of changes</h2>


<div class="image-details-comments">
	<div class="comment">
		<div class="comment-header"><b>22.12.2018</b> Version 0-57</div>
		<div class="comment-text">
			Ability for generating pixel images for square grid artworks.<br />
			Ability for rendering images with transparent background.
		</div>
	</div>				
	
	<div class="comment">
		<div class="comment-header"><b>22.12.2018</b> Version 0-53</div>
		<div class="comment-text">
			User interface is more friendly for mobile devices.
		</div>
	</div>			
	
	<div class="comment">
		<div class="comment-header"><b>20.11.2017</b> Version 0-52</div>
		<div class="comment-text">
			Fix Undo/Redo operations for background change and shift operations.
		</div>
	</div>		
	
	<div class="comment">
		<div class="comment-header"><b>03.10.2017</b> Version 0-51</div>
		<div class="comment-text">
			Complain button for comments
		</div>
	</div>		
	
	<div class="comment">
		<div class="comment-header"><b>01.10.2017</b> Version 0-50-1</div>
		<div class="comment-text">
			Spam protection<br />
			Some minor bug fixes
		</div>
	</div>		
	
	<div class="comment">
		<div class="comment-header"><b>16.09.2017</b> Version 0-50</div>
		<div class="comment-text">
			Improvements in user administration
		</div>
	</div>		
	
	<div class="comment">
		<div class="comment-header"><b>01.09.2017</b> Version 0-49</div>
		<div class="comment-text">
			Ability to block artworks.
		</div>
	</div>		
	
	<div class="comment">
		<div class="comment-header"><b>30.08.2017</b> Version 0-48</div>
		<div class="comment-text">
			Ability to block users.
		</div>
	</div>		
	
	<div class="comment">
		<div class="comment-header"><b>03.06.2017</b> Version 0-46</div>
		<div class="comment-text">
			Reply on comments.<br />
			Fixed minor bugs.
		</div>
	</div>		
	
	<div class="comment">
		<div class="comment-header"><b>07.05.2017</b> Version 0-45</div>
		<div class="comment-text">
			Recent comments page.<br />
			Fixed minor bugs.
		</div>
	</div>		
	
	<div class="comment">
		<div class="comment-header"><b>29.04.2017</b> Version 0-44</div>
		<div class="comment-text">
			Improved color picker.<br />
			Fixed minor bugs.
		</div>
	</div>		

	<div class="comment">
		<div class="comment-header"><b>30.10.2016</b> Version 0-43</div>
		<div class="comment-text">
			Improved comments representation.
		</div>
	</div>		
	
	<div class="comment">
		<div class="comment-header"><b>30.10.2016</b> Version 0-42</div>
		<div class="comment-text">
			Database restructurization finished 
		</div>
	</div>	
	
	<div class="comment">
		<div class="comment-header"><b>22.07.2016</b> Version 0-41</div>
		<div class="comment-text">
			Blocking images due to copyright infringements.
		</div>
	</div>	

	<div class="comment">
		<div class="comment-header"><b>29.03.2016</b> Version 0-40</div>
		<div class="comment-text">
			Minor user interface improvements
		</div>
	</div>	

	<div class="comment">
		<div class="comment-header"><b>22.02.2016</b> Version 0-39</div>
		<div class="comment-text">
			Artists rating system.<br>
			'Top rated artists' section on main page<br>
			Artists list by stars count
		</div>
	</div>	

	<div class="comment">
		<div class="comment-header"><b>22.02.2016</b> Version 0-38</div>
		<div class="comment-text">
			Technical version
		</div>
	</div>	

	<div class="comment">
		<div class="comment-header"><b>22.02.2016</b> Version 0-37</div>
		<div class="comment-text">
			Technical version
		</div>
	</div>	

	<div class="comment">
		<div class="comment-header"><b>20.02.2016</b> Version 0-36</div>
		<div class="comment-text">
			List of the most productive artists at main page 
		</div>
	</div>	

	<div class="comment">
		<div class="comment-header"><b>03.02.2016</b> Version 0-35</div>
		<div class="comment-text">
			Technical version
		</div>
	</div>	

	<div class="comment">
		<div class="comment-header"><b>03.02.2016</b> Version 0-34</div>
		<div class="comment-text">
			Minor optimizations. 
		</div>
	</div>	
	
	<div class="comment">
		<div class="comment-header"><b>31.01.2016</b> Version 0-33</div>
		<div class="comment-text">
			New page 'Recent favorites'.<br>
			Index page improvements.<br>
			Fixed some errors. 
		</div>
	</div>	

	<div class="comment">
		<div class="comment-header"><b>21.01.2016</b> Version 0-32</div>
		<div class="comment-text">
			Fixed errors with favorites. 
		</div>
	</div>	
	
	<div class="comment">
		<div class="comment-header"><b>28.12.2015</b> Version 0-31</div>
		<div class="comment-text">
			Notifications on favorites. 
		</div>
	</div>	
	
	<div class="comment">
		<div class="comment-header"><b>06.12.2015</b> Version 0-30</div>
		<div class="comment-text">
			Image storage improvements. 
		</div>
	</div>
	
	<div class="comment">
		<div class="comment-header"><b>29.11.2015</b> Version 0-29</div>
		<div class="comment-text">
			Minor bug fixes. 
		</div>
	</div>								
	
	<div class="comment">
		<div class="comment-header"><b>29.11.2015</b> Version 0-28</div>
		<div class="comment-text">
			Ability to mark artwork as favorite. Rating of most favorite artwork. 
		</div>
	</div>							
	
	<div class="comment">
		<div class="comment-header"><b>21.11.2015</b> Version 0-27</div>
		<div class="comment-text">
			Performance improvements. 
		</div>
	</div>						
	
	<div class="comment">
		<div class="comment-header"><b>08.11.2015</b> Version 0-26</div>
		<div class="comment-text">
			A new "Copy/Paste" function for copying parts of images. 
		</div>
	</div>					
	
	<div class="comment">
		<div class="comment-header"><b>25.10.2015</b> Version 0-25</div>
		<div class="comment-text">
			"Create a copy" button for images, that author were created before. 
		</div>
	</div>					
	
	<div class="comment">
		<div class="comment-header"><b>05.08.2014</b> Version 0-24</div>
		<div class="comment-text">
			Ability to show grid in final images with square grid. 
		</div>
	</div>				
	
	<div class="comment">
		<div class="comment-header"><b>15.05.2014</b> Version 0-23</div>
		<div class="comment-text">
			All images were moved to Google Cloud Storage. 
		</div>
	</div>			
	
	<div class="comment">
		<div class="comment-header"><b>12.05.2014</b> Version 0-22</div>
		<div class="comment-text">
			Improved stability. 
		</div>
	</div>			
	
	<div class="comment">
		<div class="comment-header"><b>08.01.2014</b> Version 0-21</div>
		<div class="comment-text">
			Editor's choice<br>
			Cubic shape for hexagonal grid<br>
			Minor interface improvements
		</div>
	</div>		

	<div class="comment">
		<div class="comment-header"><b>17.12.2013</b> Version 0-20</div>
		<div class="comment-text">
			Ctrl-Z for undo operations during painting.<br>
			Erasing by right mouse button<br>
			GUI and service side improvements.
		</div>
	</div>		
		
	<div class="comment">
		<div class="comment-header"><b>15.12.2013</b> Version 0-19</div>
		<div class="comment-text">
			New look of the site with Bootstrap 3.
		</div>
	</div>								
	
	<div class="comment">
		<div class="comment-header"><b>08.12.2013</b> Version 0-18</div>
		<div class="comment-text">
			Grid icons in artworks pages. 
		</div>
	</div>								
	
	<div class="comment">
		<div class="comment-header"><b>27.11.2013</b> Version 0-17</div>
		<div class="comment-text">
			User profiles and searching artworks by specified artist. 
		</div>
	</div>							
	
	<div class="comment">
		<div class="comment-header"><b>20.11.2013</b> Version 0-16</div>
		<div class="comment-text">
			Recent comments at the main page.<br>
			New navigation buttons.
		</div>
	</div>							
	
	<div class="comment">
		<div class="comment-header"><b>18.11.2013</b> Version 0-15</div>
		<div class="comment-text">
			Notifications on comments.<br>
			Big code refactoring and performance improvements.
		</div>
	</div>						

	<div class="comment">
		<div class="comment-header"><b>10.11.2013</b> Version 0-14</div>
		<div class="comment-text">
			<b>Isometric triangular grid</b><br>
			New isometric triangular grid is available for drawing.<br>
			Several minor issues were corrected
		</div>
	</div>						
	
	<div class="comment">
		<div class="comment-header"><b>07.11.2013</b> Version 0-13</div>
		<div class="comment-text">
			Corrected issue with saving huge images.
		</div>
	</div>						

	<div class="comment">
		<div class="comment-header"><b>06.11.2013</b> Version 0-12</div>
		<div class="comment-text">
			Now you can change workspace size and cell size in painting mode.
		</div>
	</div>						
	
	<div class="comment">
		<div class="comment-header"><b>04.11.2013</b> Version 0-11</div>
		<div class="comment-text">
			Now you can write descriptions for your artworks.
		</div>
	</div>						
	
	<div class="comment">
		<div class="comment-header"><b>30.10.2013</b> Version 0-10</div>
		<div class="comment-text">
			<b>Right-angled triangular grid</b><br />
			A new grid with 4 triangles in square is now available for use.
		</div>
	</div>					
	
	<div class="comment">
		<div class="comment-header"><b>19.10.2013</b> Version 0-09</div>
		<div class="comment-text">
			Caching for speed imrovements.
		</div>
	</div>				
	
	<div class="comment">
		<div class="comment-header"><b>18.10.2013</b> Version 0-08</div>
		<div class="comment-text">
			Imroved rendering speed of pages with images lists.
		</div>
	</div>			
	
	<div class="comment">
		<div class="comment-header"><b>14.10.2013</b> Version 0-07</div>
		<div class="comment-text">
			Define canvas size and cell size when create new artwork.
		</div>
	</div>			
	
	<div class="comment">
		<div class="comment-header"><b>10.10.2013</b> Version 0-06</div>
		<div class="comment-text"><b>Undo/Redo</b><br>
			Undo and Redo buttons were appended to painter.
		</div>
	</div>		

	<div class="comment">
		<div class="comment-header"><b>06.10.2013</b> Version 0-05</div>
		<div class="comment-text">
			Removed button 'Artwork properties'. Now artwork properties dialog is showing
			on every save of image. Fixed minor issues in painter.
			</div>
	</div>		
	
	<div class="comment">
		<div class="comment-header"><b>19.09.2013</b> Version 0-04</div>
		<div class="comment-text">
			Minor UI improvements. Helper messages on empty pages were added.
			Page title on artwork page was changed.
			</div>
	</div>	
	
	<div class="comment">
		<div class="comment-header"><b>14.09.2013</b> Version 0-03</div>
		<div class="comment-text"><b>Shift image</b><br>
			Now you can move whole image on workspace to change free space on edges.</div>
	</div>	
	
	<div class="comment">
		<div class="comment-header"><b>12.09.2013</b> Version 0-02</div>
		<div class="comment-text"><b>Pick color</b><br>
			New button for color selection by pointing on desired cell 
			was added to toolbar in painting mode.</div>
	</div>
	
	<div class="comment">
		<div class="comment-header"><b>30.08.2013</b> Version 0-01</div>
		<div class="comment-text"><b>Project opened</b><br>
			A new online editing tool <b>Grid Paint</b> was opened.
			Here you can create your own pixel art images using squared, triangular or hexagonal grids.
			Images can be downloaded in PNG or SVG formats. 
			You can share your images with your friends in Facebook, Twitter or Google+.</div>
	</div>	
</div>




</div>

  
{% endblock content %}


