{% extends "base-adv.html" %}


{% block content %}  
<div class="single-container">

<div class="container">
<div class="pull-left">
<img src="/img/logo-large.png" />
</div>
<p>
<b>Grid Paint</b> is an online drawing tool using various types of grids 
(squared, triangular, hexagonal).
Drawing by grids is something like pixel art, but in pixel art you have only square pixels.
Here you have also triangular or hexagonal pixels. Moreover,
every pixel may be flat or have concave or convex shape like diamond or jewel,
which allow you to create peculiar images.
</p>

<p>
You can share your images with friends on Facebook or Google+ or download them
in PNG or SVG format.
</p>

<p>
Login into your Google account and begin to paint by clicking &quot;New image&quot;
link at the top.
</p>
</div>
	

<div class="container text-center index-page-section">
<h3>Recent images</h3>
	
<ul class="thumbnails" style="display: inline-block">	
{% for a in artworks %}
	{% include "thumbnail.html" %}
{% endfor %}

	<li class="thumbnail index-page-thumb-button">
		<a href="/gallery">
		<img src="/img/goto-gallery.png" border="0" />
		</a>
	</li>
</ul>


</div>


<div class="container index-page-section">
<div class="text-center">
<h3>Recent comments</h3>
</div>

<div class="image-details-comments">
	{% for c in comments %}
	<div class="comment">
		<div class="comment-header">
			<h2><a href="/images/details/{{ c.artwork_key.id }}">{{ c.artwork_name }}</a></h2>
			<div>{{ c.date }} <b>{{c.author.nickname}}</b></div>
		</div>		
		<div class="comment-text">
			{{ c.text}}
		</div>
	</div>						
	{% endfor %}
</div>
</div>


</div>


{% endblock content %}
