{% extends "base-adv.html" %}


{% block content %}
<div class="single-container">

<div class="container">
<div id="index-logo-image">
	<img src="/img/logo2-shadow.svg" width="160" height="160" />
</div>
<p>
<b>Grid Paint</b> is an online drawing tool using various types of grids 
(squared, triangular, hexagonal).
Drawing by grids is like pixel art, but here you are not limited of using only square pixels.
Moreover, you can set different shapes for pixels to make them look like diamond or jewel,
which allow you to create peculiar images.
</p>

<p>
Share your image with friends on Facebook or download them in PNG or SVG format.
</p>

<p>
Login into your Google account and <a href="new-image">begin to paint</a> by clicking &quot;New image&quot;
link at the top.
</p>
</div>

<div class="container" style="padding: 0;">
    <div class="index-main-news-container">
        <div class="col-12 col-sm-4">
            <div class="index-main-news index-page-section text-center">
				<div class="fb-page" data-href="https://www.facebook.com/GridPaint/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/GridPaint/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/GridPaint/">Grid Paint</a></blockquote></div>
            </div>
        </div>

		<div class="col-12 col-sm-4">
            <div class="index-main-news index-page-section">
                <div class="image">
                    <img src="/img/news/2020-12-13-collaborators.png" height="120"/>
                </div>
                <div class="text">
                    Draw images together with your friends.
                </div>
                <div class="text">
					<a href="/help/collaborators">See instruction</a>.
                </div>
            </div>
        </div>

		<div class="col-12 col-sm-4">
            <div class="index-main-news index-page-section">
                <div class="image">
                    <img src="/img/news/2020-02-02-diamond-grid.png" height="120"/>
                </div>
                <div class="text">
                    Introducing a new diamond grid.
                </div>
            </div>
        </div>

    </div>
</div>

{% if newsfeed %}
<div class="container text-center index-page-section" id="newsfeed">
<h3><img src="/img/newsfeed.png" /> News feed</h3>
	
<div class="row">
{% for a in newsfeed %}
	{% include "thumbnail.html" %}
{% endfor %}

	<div class="thumbnail-wrapper">
	  <a href="/newsfeed">
	  <div class="thumbnail index-page-thumb-button">
	  	<div class="thumb-image"></div>
	  </div>
	  </a>
	</div>
</div>
</div>
{% endif %}

<div class="container text-center index-page-section" id="editor_choice">
<h3><img src="/img/editor_choice.png" /> Editor's choice</h3>
	
<div class="row">
{% for a in editor_choice %}
	{% include "thumbnail.html" %}
{% endfor %}

	<div class="thumbnail-wrapper">
	  <a href="/editor-choice">
	  <div class="thumbnail index-page-thumb-button">
	  	<div class="thumb-image"></div>
	  </div>
	  </a>
	</div>
</div>
</div>


<div class="container text-center index-page-section" id="top_favorites">
<h3><img src="/img/stars/star4.png" style="vertical-align:top; margin-top:-4px;"/> Top favorites</h3>
	
<div class="row">
{% for a in top_favorites %}
	{% include "thumbnail.html" %}
{% endfor %}

	<div class="thumbnail-wrapper">
	  <a href="/top-favorites">
	  <div class="thumbnail index-page-thumb-button">
	  	<div class="thumb-image"></div>
	  </div>
	  </a>
	</div>
</div>
</div>



<div class="container text-center index-page-section" id="recent_favorites">
<h3><img src="/img/stars/star4.png" style="vertical-align:top; margin-top:-4px;"/> Recent favorites</h3>
	
<div class="row">
{% for a in recent_favorites %}
	{% include "thumbnail.html" %}
{% endfor %}

	<div class="thumbnail-wrapper">
	  <a href="/favorites">
	  <div class="thumbnail index-page-thumb-button">
	  	<div class="thumb-image"></div>
	  </div>
	  </a>
	</div>
</div>
</div>
	

<div class="container text-center index-page-section" id="recent_images">
<h3>Recent images</h3>
	
<div class="row">	
{% for a in artworks %}
	{% include "thumbnail.html" %}
{% endfor %}

	<div class="thumbnail-wrapper">
	  <a href="/gallery">
	  <div class="thumbnail index-page-thumb-button">
	  	<div class="thumb-image"></div>
	  </div>
	  </a>
	</div>
</div>
</div>



<div class="container index-page-section">
<div class="text-center">
<h3>Recent comments</h3>
</div>

<div class="image-details-comments">
	{% for c in comments %}
	<div class="rich-comment">
		<div class="rich-comment-image">
			<a href="/images/details/{{ c.artwork_key }}">
                {% if c.artwork_author_self_block %}
                    <img src="/img/self-block-thumb.svg" width="100" height="75" border="0"/>
                {% else %}
       				{% if c.artwork_copyright_block %}
	    				<img src="/img/copyright-thumb.png" width="100" height="75" border="0"/>
                    {% else %}
                        {% if c.artwork_block %}
                            <img src="/img/block-thumb.png" width="100" height="75" border="0"/>
                        {% else %}
                            <img src="{{ c.small_image_file }}" width="{{ c.small_image_width }}" height="{{ c.small_image_height }}" border="0"/>
                        {% endif %}
    				{% endif %}
                {% endif %}
			</a>
		</div>
		<div class="comment">
			<div class="comment-header">
				<div class="user-avatar-in-comment" style="background-image:url({{ c.author.avatar_url }})" ></div>
				<h2><a href="/images/details/{{ c.artwork_key }}">{{ c.artwork_name }}</a></h2>
				<div>{{ c.date|date:"d M Y H:i" }} <b>{{c.author.nickname}}</b></div>
			</div>
            {% if c.author.self_block %}
                <div class="comment-text" style="color:gray">[Comment not available]</div>
            {% endif %}
			{% if c.hidden %}
				<div class="comment-text" style="color:red">Hidden</div>
			{% else %}
			  	{% for t in c.text %}
				  	  <div class="comment-text">{{t}}</div>
			  	{% endfor %}
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>

<div class="text-center">
	<a href="/comments" class="btn btn-default btn-small">More comments <i class="icon-arrow-right"></i></a>
</div>
</div>


<div class="container index-page-section">

<div class="image-details-comments">
<div class="row">
<div class="index-featured-artists-wrapper">
	<div class="text-center">
	<h3>Most productive artists</h3>
	</div>

	<table class="table table-striped">
		<tr>
			<th>Artist name</th>
			<th width="30%">Artwork count</th>
		</tr>

		{% for u in productive_artists %}
		<tr>
			<td>
                {% if u.self_block %}
                    <div class="user-avatar-in-list" style="background-image: url({{ u.avatar_url }})"></div>
                    {{ u.nickname }}
                {% else %}
                    <a href="/profiles/{{ u.profile_id }}">
                        <div class="user-avatar-in-list" style="background-image: url({{ u.avatar_url }})"></div>
                        {{ u.nickname }}
                    </a>
                {% endif %}
			</td>
			<td>
				{{ u.artworks_count }}
			</td>
		</tr>
		{% endfor %}

	</table>
	<div class="text-center">
		<a href="/profiles/by-artwork-count" class="btn btn-default btn-small">More artists <i class="icon-arrow-right"></i></a>
	</div>
</div>
<div class="index-featured-artists-wrapper">
	<div class="text-center">
	<h3>Top rated artists</h3>
	</div>

	<table class="table table-striped">
		<tr>
			<th>Artist name</th>
			<th width="30%">Stars count</th>
		</tr>

		{% for u in top_rated_artists %}
		<tr>
			<td>
                {% if u.self_block %}
                    <div class="user-avatar-in-list" style="background-image: url({{ u.avatar_url }})"></div>
                    {{ u.nickname }}
                {% else %}
                    <a href="/profiles/{{ u.profile_id }}">
                        <div class="user-avatar-in-list" style="background-image: url({{ u.avatar_url }})"></div>
                        {{ u.nickname }}
                    </a>
                {% endif %}
			</td>
			<td>
				{{ u.favorite_count }}
			</td>
		</tr>
		{% endfor %}

	</table>
	<div class="text-center">
		<a href="/profiles/by-stars-count" class="btn btn-default btn-small">More artists <i class="icon-arrow-right"></i></a>
	</div>
</div>
</div>
</div>

</div>



</div>
{% endblock content %}
