{% extends "base-adv.html" %}


{% block content %}  
<div class="single-container">

<div class="container">
<div class="pull-left">
<img src="/img/logo-large.png" />
</div>
<p>
<b>Grid Paint</b> is an online drawing tool using various types of grids 
(squared, triangular, hexagonal).
Drawing by grids is something like pixel art, but in pixel art you have only square pixels.
Here you have also triangular or hexagonal pixels. Moreover,
every pixel may be flat or have concave or convex shape like diamond or jewel,
which allow you to create peculiar images.
</p>

<p>
You can share your images with friends on Facebook or Google+ or download them
in PNG or SVG format.
</p>

<p>
Login into your Google account and begin to paint by clicking &quot;New image&quot;
link at the top.
</p>
</div>


<div class="container text-center index-page-section" id="editor_choice">
<h3><img src="/img/editor_choice.png" /> Editor's choice</h3>
	
<div class="row">
{% for a in editor_choice %}
	{% include "thumbnail.html" %}
{% endfor %}

	<div class="col-xs-3">
	  <div class="thumbnail index-page-thumb-button" style="background-color: transparent;">
		<a href="/editor-choice">
		  <img src="/img/goto-gallery.png" border="0" />
		</a>
	  </div>
	</div>
</div>
</div>


<div class="container text-center index-page-section" id="top_favorites">
<h3><img src="/img/stars/star4.png" style="vertical-align:top; margin-top:-4px;"/> Top favorites</h3>
	
<div class="row">
{% for a in top_favorites %}
	{% include "thumbnail.html" %}
{% endfor %}

	<div class="col-xs-3">
	  <div class="thumbnail index-page-thumb-button" style="background-color: transparent;">
		<a href="/top-favorites">
		  <img src="/img/goto-gallery.png" border="0" />
		</a>
	  </div>
	</div>
</div>
</div>



<div class="container text-center index-page-section" id="recent_favorites">
<h3><img src="/img/stars/star4.png" style="vertical-align:top; margin-top:-4px;"/> Recent favorites</h3>
	
<div class="row">
{% for a in recent_favorites %}
	{% include "thumbnail.html" %}
{% endfor %}

	<div class="col-xs-3">
	  <div class="thumbnail index-page-thumb-button" style="background-color: transparent;">
		<a href="/favorites">
		  <img src="/img/goto-gallery.png" border="0" />
		</a>
	  </div>
	</div>
</div>
</div>
	

<div class="container text-center index-page-section" id="recent_images">
<h3>Recent images</h3>
	
<div class="row">	
{% for a in artworks %}
	{% include "thumbnail.html" %}
{% endfor %}

	<div class="col-xs-3">
	  <div class="thumbnail index-page-thumb-button" style="background-color: transparent;">
		<a href="/gallery">
		  <img src="/img/goto-gallery.png" border="0" />
		</a>
	  </div>
	</div>
</div>
</div>



<div class="container index-page-section">
<div class="text-center">
<h3>Recent comments</h3>
</div>

<div class="image-details-comments">
	{% for c in comments %}
	<div class="rich-comment">
		<div class="rich-comment-image">
			<a href="/images/details/{{ c.artwork_key.id }}">
				<img src="{{ c.small_image_file }}" width="{{ c.small_image_width }}" height="{{ c.small_image_height }}" border="0"/>
			</a>
		</div>
		<div class="comment">
			<div class="comment-header">
				<h2><a href="/images/details/{{ c.artwork_key.id }}">{{ c.artwork_name }}</a></h2>
				<div>{{ c.date }} <b>{{c.author.nickname}}</b></div>
			</div>
		  	{% for t in c.text %}
			  	  <div class="comment-text">{{t}}</div>
		  	{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
</div>


<div class="container index-page-section">

<div class="image-details-comments">
<div class="row">
<div class="col-xs-6">
	<div class="text-center">
	<h3>Most productive artists</h3>
	</div>

	<table class="table table-striped">
		<tr>
			<th>Artist name</th>
			<th>Artwork count</th>
		</tr>

		{% for u in productive_artists %}
		<tr>
			<td>
				<a href="/profiles/{{ u.profile_id }}">{{ u.nickname }}</a>
			</td>
			<td>
				{{ u.artworks_count }}
			</td>
		</tr>
		{% endfor %}

	</table>
	<div class="text-right">
		<a href="/profiles/by-artwork-count" class="btn btn-default btn-small">More artists <i class="icon-arrow-right"></i></a>
	</div>
</div>
<div class="col-xs-6">
	<div class="text-center">
	<h3>Top rated artists</h3>
	</div>

	<table class="table table-striped">
		<tr>
			<th>Artist name</th>
			<th>Stars count</th>
		</tr>

		{% for u in top_rated_artists %}
		<tr>
			<td>
				<a href="/profiles/{{ u.profile_id }}">{{ u.nickname }}</a>
			</td>
			<td>
				{{ u.favorite_count }}
			</td>
		</tr>
		{% endfor %}

	</table>
	<div class="text-right">
		<a href="/profiles/by-stars-count" class="btn btn-default btn-small">More artists <i class="icon-arrow-right"></i></a>
	</div>
</div>
</div>
</div>

</div>



</div>
{% endblock content %}
