{% extends "base-adv.html" %}


{% block content %}

<div class="container single-container">
<h2 class="text-center">
My profile
{% if profile.read_only %}
<span style="color:red;">[Blocked{% if profile.block_reason %} fore {{ profile.block_reason }}{% endif %}{% if profile.block_date %} since {{ profile.block_date|date:"d M Y"}}{% endif %}]</span>
{% endif %}
</h2>
	
	
	<div class="row">
		<div class="col-xs-4 col-md-2 col-md-offset-2">
			<img src="/img/empty-profile.png" />
		</div>
		
		<div class="col-xs-8 col-md-6">
			<form name="f" role="form" class="form-horizontal" action="/save-profile" method="POST"
				onsubmit="return false">
				<div class="form-group">
					<label class="col-xs-4 control-label">Joined</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" disabled value="{{ profile.join_date|date:"d M Y" }}" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-4 control-label">Primary E-mail [hidden]</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" disabled value="{{ profile.email }}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-4 control-label">Alternative E-mail [hidden]</label>
					<div class="col-xs-8">
						{% if profile.alternative_emails %}
							<div class="alternative-emails">
							{% for email in profile.alternative_emails %}
								<div class="alert alert-info">
									<span id="alternative-email">{{ email }}</span>
									<span class="btn-delete-alternative-email glyphicon glyphicon-remove pull-right" style="cursor:pointer;"></span>
								</div>
							{% endfor %}
							</div>
						{% else %}
						<button class="btn btn-small btn-default" type="button" id="btn-add-alternative-email">Add</button>
						{% endif %}
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-4 control-label">Display name</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" name="nickname" value="{{ profile.nickname }}" />
					</div>
				</div>
				
				{% if not user_info.read_only %}
				<div class="form-group">
					<div class="col-xs-8 col-xs-offset-4">
						<button type="button" class="btn btn-primary" id="submit-button">Save profile</button>
					</div>
				</div>
				{% endif %}
			</form>
		</div>
	
	</div>
	
	<div class="row">
		<div class="col-xs-4 col-md-8 col-md-offset-2">
			<div class="panel panel-default">
  				<div class="panel-heading">
    				<h3 class="panel-title">My resources</h3>
  				</div>
  				<div class="panel-body">
  					<div><a href="/my-images">My images</a></div>
  					<div><a href="/my-favorites">My favorites</a></div>
  					<div><a href="/profiles/{{ profile.key.id }}/comments">My comments</a></div>
    				<div><a href="/my-followers">My followers {% if profile.followers_count %}({{ profile.followers_count }}){% endif %}</a></div>
  				</div>
			</div>
		</div>
	</div>
</div>

<div id="modal-empty-nickname" class="modal fade">
  <div class="modal-dialog">
  	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">Error</h4>
	  </div>
	  <div class="modal-body">
	        <p>Nickname cannot be empty</p>
	    	<p>Enter nickname and save your profile again.</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
	  </div>
	</div>  		
  </div>
</div>


<div id="modal-duplicate-nickname" class="modal fade">
  <div class="modal-dialog">
  	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">Error</h4>
	  </div>
	  <div class="modal-body">
	    <p>Another user has this nickname.</p>
	    <p>Change your nickname and try to save your profile again.</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
	  </div>
	</div>  		
  </div>
</div>

<div id="modal-add-alternative-email" class="modal fade">
  <div class="modal-dialog">
  	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">Add alternative E-mail</h4>
	  </div>
	  <div class="modal-body">
	    <p>Enter alternative E-mail. You will able to log in with it.</p>
	    <div>
	    	<input type="text" name="alternative_email" class="form-control"/>
	    </div>
	  </div>
	  <div class="modal-footer">
	  	<button id="btn-save-alternative-email" class="btn btn-primary">Add</button>
	    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
	  </div>
	</div>  		
  </div>
</div>

<div id="modal-error-alternative-email" class="modal fade">
  <div class="modal-dialog">
  	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">Error</h4>
	  </div>
	  <div class="modal-body">
	    <p>Error saving alternative E-mail.</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
	  </div>
	</div>  		
  </div>
</div>

<div id="modal-confirm-delete-alternative-email" class="modal fade">
  <div class="modal-dialog">
  	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">Confirm</h4>
	  </div>
	  <div class="modal-body">
	    <p>Do you really want to delete alternative email '<span id="modal-confirm-delete-alternative-email-email"></span>'.</p>
	  </div>
	  <div class="modal-footer">
	  	<button id="btn-delete-alternative-email-confirm" class="btn btn-danger">Delete</button>
	    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
	  </div>
	</div>  		
  </div>
</div>


<script>
var profile_id='{{ profile.key.id }}';
$(function () {
	$("#submit-button").click(
		function() {
			var nickname=$("input[name=nickname]").val();
			if (!nickname) {
				$("#modal-empty-nickname").modal();
				return;
			}
			
			$.post(
  				'/json/get-user-id-by-nickname',
  				{'nickname': nickname},
				function(data) {
					if (data.id && data.id != profile_id) {
						$("#modal-duplicate-nickname").modal();
					} else {
						$("form[name=f]")[0].submit();
					}
				},
				"json"
			);
		}
	);
	
	$("#btn-add-alternative-email").click(
		function() {
			$("#modal-add-alternative-email").modal();
		}
	);
	
	$("#btn-save-alternative-email").click(
		function() {
			var alternative_email = $("input[name=alternative_email]").val();
			$.post(
  				'/json/save-alternative-email',
  				{'alternative_email': alternative_email},
				function(data) {
					$("#modal-add-alternative-email").modal('hide');
					if (data.error) {
						showErrorMessage(data.error);
						return;
					}
					
					if (data.result) {
						location.reload();
					}
				},
				"json"
			);				
		}
	);
	
	$(".btn-delete-alternative-email").click(
		function() {
			var alternative_email = $(this).parent().find("#alternative-email").text();
			$("#modal-confirm-delete-alternative-email-email").text(alternative_email);
			$("#modal-confirm-delete-alternative-email").modal();
		}
	);
	
	$("#btn-delete-alternative-email-confirm").click(
		function() {
			var alternative_email = $("#modal-confirm-delete-alternative-email-email").text();
			$.post(
  				'/json/delete-alternative-email',
  				{'alternative_email': alternative_email},
				function(data) {
					if (data.error) {
						$("#modal-confirm-delete-alternative-email").modal('hide');
						showErrorMessage(data.error);
						return;
					}
					
					if (data.result) {
						location.reload();
					}
				},
				"json"
			);
		}
	);
});

var errorMessages = {
	'invalid_email': 'Invalid E-mail',
	'already_used': 'E-mail is already used',
	'no_such_alternative_email': 'No such alternative E-mail in your profile',
	'cannot_delete_yourself': 'You cannot delete alternative E-mail because you are logged in with it. If you want to delete it log in using Google account with another E-mail.'
};

function showErrorMessage(errorCode) {
	var message = errorMessages[errorCode];
	if (!message) {
		message = errorCode;
	} 
	
	$("#modal-error-alternative-email .modal-body p").text(message);
	$("#modal-error-alternative-email").modal();	
}
</script>

  
{% endblock content %}


