{% extends "base-adv.html" %}


{% block content %}

<div class="container single-container">
<h2 class="text-center">
My profile
{% if profile.read_only %}
<span style="color:red;">[Blocked{% if profile.block_reason %} fore {{ profile.block_reason }}{% endif %}{% if profile.block_date %} since {{ profile.block_date|date:"d M Y"}}{% endif %}]</span>
{% endif %}
</h2>
	
	
	<div class="row">
		<div class="col-xs-4 col-md-2 col-md-offset-2">
			<img src="/img/empty-profile.png" />
		</div>
		
		<div class="col-xs-8 col-md-6">
			<form name="f" role="form" class="form-horizontal" action="/save-profile" method="POST"
				onsubmit="return false">
				<div class="form-group">
					<label class="col-xs-4 control-label">E-mail [hidden]</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" disabled value="{{ profile.email }}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-4 control-label">Joined</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" disabled value="{{ profile.join_date|date:"d M Y" }}" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-4 control-label">Display name</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" name="nickname" value="{{ profile.nickname }}" />
					</div>
				</div>
				
				{% if not user_info.read_only %}
				<div class="form-group">
					<div class="col-xs-8 col-xs-offset-4">
						<button type="button" class="btn btn-primary" id="submit-button">Save profile</button>
					</div>
				</div>
				{% endif %}
			</form>
		</div>
	
	</div>
</div>

<div id="modal-empty-nickname" class="modal fade">
  <div class="modal-dialog">
  	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">Error</h4>
	  </div>
	  <div class="modal-body">
	        <p>Nickname cannot be empty</p>
	    	<p>Enter nickname and save your profile again.</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
	  </div>
	</div>  		
  </div>
</div>


<div id="modal-duplicate-nickname" class="modal fade">
  <div class="modal-dialog">
  	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">Error</h4>
	  </div>
	  <div class="modal-body">
	    <p>Another user has this nickname.</p>
	    <p>Change your nickname and try to save your profile again.</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
	  </div>
	</div>  		
  </div>
</div>


<script>
$(function () {
	$("#submit-button").click(
		function() {
			var nickname=$("input[name=nickname]").val();
			if (!nickname) {
				$("#modal-empty-nickname").modal();
				return;
			}
			
			$.post(
  				'/json/get-user-id-by-nickname',
  				{'nickname': nickname},
				function(data) {
					if (data.id) {
						$("#modal-duplicate-nickname").modal();
					} else {
						$("form[name=f]")[0].submit();
					}
				},
				"json"
			);
		}
	);
});
</script>

  
{% endblock content %}


