{% extends "base.html" %}


{% block content %}  

<div class="row text-center">
<h2>Choose a grid for new image</h2>	
</div>

<div class="row text-center">
	<div class="gridSelect" id="GridSquare" style="display:inline"></div>
	<div class="gridSelect" id="GridTriangle" style="display:inline"></div>
	<div class="gridSelect" id="GridHex" style="display:inline"></div>
</div>




<script src="/js/grids.js"></script>

<script>
$(function() {
	$(".gridSelect").each(
		function() {
			var gridName=$(this).attr("id");
			var paper=new Raphael(gridName, 192, 120);
			var grid=eval("new "+gridName+"()");
			grid.paintGrid(paper);
		});
	
	$(".gridSelect").click(
		function() {
			alert($(this).attr("id"));
		});
});
</script>

{% endblock content %}