{% extends "base.html" %}


{% block content %}  

<div class="row text-center">
<h2>Choose a grid for new image</h2>	
</div>

<div class="row text-center">
	<div class="grid-selector-wrapper">
		<div class="grid-selector-element" id="square"></div>
	</div>
	<div class="grid-selector-wrapper">
		<div class="grid-selector-element" id="triangle"></div>
	</div>
	<div class="grid-selector-wrapper">
		<div class="grid-selector-element" id="hex"></div>
	</div>
</div>




<script src="/js/grids.js"></script>
<script src="/js/grid-square.js"></script>
<script src="/js/grid-triangle.js"></script>
<script src="/js/grid-hex.js"></script>

<script>
$(function() {
	$(".grid-selector-element").each(
		function() {
			var gridName=$(this).attr("id");
			var paper=new Raphael(gridName, 192, 120);
			var grid=gridFactory[gridName]();
			grid.paintGrid(paper);
			//paper.rect(0,0,192,120);
		});
	
	$(".grid-selector-element").click(
		function() {
			document.location="/painter?grid="+$(this).attr("id");
			//alert($(this).attr("id"));
		});
});
</script>

{% endblock content %}