{% extends "base-adv.html" %}


{% block include_js %}
{{ block.super }}
<script src="/js/raphael-min.js"></script>
{% endblock %}


{% block content %}  

<div class="single-container">
	<div class="text-center">
	<h2>Choose a grid for new image</h2>	
	</div>

	<div class="row text-center">
		<div class="grid-selector-wrapper">
			<div class="grid-selector-element" id="square"></div>
		</div>
		<div class="grid-selector-wrapper">
			<div class="grid-selector-element" id="triangle"></div>
		</div>
		<div class="grid-selector-wrapper">
			<div class="grid-selector-element" id="iso-triangle"></div>
		</div>
		<div class="grid-selector-wrapper">
			<div class="grid-selector-element" id="hex"></div>
		</div>
		<div class="grid-selector-wrapper">
			<div class="grid-selector-element" id="triangles4"></div>
		</div>
		<div class="grid-selector-wrapper">
			<div class="grid-selector-element" id="diamond"></div>
		</div>
	</div>
</div>



<form id="init-form" action="/painter" method="GET" style="display: none;">
<input type="number" name="artwork_width" id="artwork_width" value="2000"/>
<input type="number" name="artwork_height" id="artwork_height" value="2000"/>
<input type="number" name="cell_size" id="cell_size" value="24" style="width:200px;"/>
<input type="hidden" name="artwork_grid" id="artwork_grid" value=""/>
</form>




<script src="/js/grids.js"></script>
<script src="/js/grid-square.js"></script>
<script src="/js/grid-triangle.js"></script>
<script src="/js/grid-iso-triangle.js"></script>
<script src="/js/grid-hex.js"></script>
<script src="/js/grid-triangles4.js"></script>
<script src="/js/grid-diamond.js"></script>

<script>
$(function() {
	$("#top-menu-new-image").addClass("active");
	
	$(".grid-selector-element").each(
		function() {
			var gridName=$(this).attr("id");
			var paper=new Raphael(gridName, 190, 120);
			var grid=gridFactory[gridName]();
			grid.paintGrid(paper);
			//paper.rect(0,0,192,120);
		});
	
	$(".grid-selector-element").click(
		function() {
			$("#artwork_grid").val($(this).attr("id"));
			$("#init-form")[0].submit();
			//document.location="/painter?grid="+$(this).attr("id");
		});
});
</script>

{% endblock content %}