{% extends "base-adv.html" %}

{% block include_js %}
{{ block.super }}
<script src="/js/moment.js"></script>
{% endblock %}

{% block content %}
<div style="min-height:610px;">

<div class="container">

<div style="position:relative;">
	<div style="position: absolute; right:0; bottom:0;">
		<button id="button_delete_all" type="button" class="btn btn-small btn-default" style="display: none;">Delete all</button>
	</div>
	<h2>Notifications</h2>
</div>


<div class="image-details-comments" id="notifications-container">
</div>

<div>
	<div id="notifications-spinner" class="spinner-wrapper" style="display:none;"><div class="spinner"></div></div>
</div>

<div class="empty-page-message" style="display:none;">
	There are no notifications for you
</div>

</div>

 
</div>

<div id="modal-confirm-delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Delete all notifications?</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a href="#" id="button_confirm_delete" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>


<script>
var pageSize=10;
var loading=false;

function commentToHtml(comment) {
	var result='';
	if (comment.hidden) {
		result = `<div class="comment-text" style="color:red;">Comment hidden by administrator</div>`;
	} else {
		for (var i=0; i<comment.text.length; i++) {
			result += `<div class="comment-text">${comment.text[i]}</div>`
		}
	}
	return result;
}

function constructNotificationComponent(n) {
	var validNotification=true;
	var iconName='icon-bell-alt';
	var headerText='notified'
	var hyperlink='';
	var content='';
	var notificationDate = moment.utc(n.date).fromNow();
	if (n.type=='follow') {
		result=`<div id="notification-${n.id}" class="notification-container" notification-id="${n.id}">\
			<div class="notification-icon"><i class="icon-user"></i></div>\
			<div class="comment">\
				<div class="comment-header">\
					<div class="notification-remove" onclick="onDeleteNotification(${n.id})"><i class="icon-remove"></i></div>\
					<div class="notification-date">${notificationDate}</div>\
					<div class="notification-header-text"><b><a href="/profiles/${n.sender.profile_id}">${n.sender.nickname}</a></b> is now following you</div>\
				</div>\
			</div>\
		</div>`;
		return result;
	} else if (n.type == 'admin_message') {
		return `<div id="notification-${n.id}" class="notification-container" notification-id="${n.id}">\
			<div class="notification-icon"><i class="icon-warning-sign"></i></div>\
			<div class="comment">\
				<div class="comment-header">\
					<div class="notification-remove" onclick="onDeleteNotification(${n.id})"><i class="icon-remove"></i></div>\
					<div class="notification-date">${notificationDate}</div>\
					<div class="notification-header-text">Message from administrator</div>
				</div>\
    			<div class="comment-text"><b>${n.message}</b></div>\
			</div>\
		</div>`;
	}
	
	if (n.type=='comment') {
		iconName='icon-comment';
		headerText='left comment';
		if (n.artwork && n.comment) {
			hyperlink=`/images/details/${n.artwork.id}#comment-${n.comment.id}`;
			content=commentToHtml(n.comment);
		} else {
			validNotification=false;
		}
	} else if (n.type=='favorite') {
		iconName='icon-star';
		headerText='favorited artwork'
		if (n.artwork) {
			hyperlink=`/images/details/${n.artwork.id}`;
		} else {
			validNotification=false;
		}
	} else if (n.type=='complain') {
		iconName='icon-warning-sign';
		headerText='complained on comment'
		if (n.artwork && n.comment) {
			hyperlink=`/images/details/${n.artwork.id}#comment-${n.comment.id}`;
			content=commentToHtml(n.comment);
		} else {
			validNotification=false;
		}
	} else if (n.type=='editors_choice') {
		iconName='icon-certificate';
		headerText="added your artwork to Editor's choice";
		if (n.artwork) {
			hyperlink=`/images/details/${n.artwork.id}`;
		} else {
			validNotification=false;
		}
	} else if (n.type == 'artwork_collaborator_invite') {
	    iconName = 'icon-picture';
	    headerText = 'invited you to join him in editing of artwork';
	    if (n.artwork) {
			hyperlink=`/images/details/${n.artwork.id}`;
			if (n.status == 'accepted') {
			    content = `<div class="comment-text"><div class="text-success">Accepted</div></div>`
			} else if (n.status == 'rejected') {
			    content = `<div class="comment-text"><div class="text-danger">Rejected</div></div>`
			} else {
                content = `<div class="comment-text">
                    <button class="btn btn-sm btn-success" onclick="acceptNotification(${n.id})">Accept</button>
                    <button class="btn btn-sm btn-danger" onclick="rejectNotification(${n.id})">Reject</button>
                </div>`;
			}
		} else {
			validNotification=false;
		}
	} else if (n.type == 'artwork_collaborator_invite_accept') {
	    iconName = 'icon-ok';
	    headerText = 'accepted your invite to edit artwork';
		if (n.artwork) {
			hyperlink=`/images/details/${n.artwork.id}`;
		} else {
			validNotification=false;
		}
	} else if (n.type == 'resign_collaborator') {
	    iconName = 'icon-remove';
	    headerText = 'removed himself from collaborators of artwork';
		if (n.artwork) {
			hyperlink=`/images/details/${n.artwork.id}`;
		} else {
			validNotification=false;
		}
	}
	
	var result='';
	
	if (validNotification) {
		result=`<div id="notification-${n.id}" class="notification-container" notification-id="${n.id}">\
			<div class="notification-icon"><i class="${iconName}"></i></div>\
			<div class="comment">\
				<div class="comment-header">\
					<div class="notification-remove" onclick="onDeleteNotification(${n.id})"><i class="icon-remove"></i></div>\
					<div class="notification-date">${notificationDate}</div>\
					<div class="notification-header-text"><b><a href="/profiles/${n.sender.profile_id}">${n.sender.nickname}</a></b> ${headerText}</div>\
					<div class="notification-header-artwork"><a href="${hyperlink}"><b>${n.artwork.name}</b></a></div>\
				</div>\
				${content}\
			</div>\
		</div>`;
	} else {
		result=`<div id="notification-${n.id}" class="notification-container" notification-id="${n.id}">\
			<div class="notification-icon"><i class="${iconName}"></i></div>\
			<div class="comment">\
				<div class="comment-header">\
					<div class="notification-remove" onclick="onDeleteNotification(${n.id})"><i class="icon-remove"></i></div>\
					<div class="notification-date">${notificationDate}</div>\
					<div class="notification-header-text"><b><a href="/profiles/${n.sender.profile_id}">${n.sender.nickname}</a></b> ${headerText}</div>\
					<div>Artwork or comment was deleted</div>\
				</div>\
			</div>\
		</div>`;
	}
	return result;
};

function appendNotificationElement(notification) {
	var html=constructNotificationComponent(notification);
	$('#notifications-container').append(html);
}

function loadNotifications(limit, offset) {
	loading=true;
	updatePageControls();
	$.get('/json/notifications?limit='+limit+'&offset='+offset,
		function(data) {
			loading=false;
			updatePageControls();
			var notifications=JSON.parse(data);

			var html='';
			for (var i = 0; i < notifications.length; i++) {
				html+=constructNotificationComponent(notifications[i]);
			}
			$('#notifications-container').append(html);
			updatePageControls();
		}
	);
};

function updatePageControls() {
	if (loading) {
		$('#notifications-spinner').show();
		$('.empty-page-message').hide();
		$('#button_delete_all').hide();
	} else {
		$('#notifications-spinner').hide();
		if ($('.notification-container').length > 0) {
			$('.empty-page-message').hide();
			$('#button_delete_all').show();
		} else {
			$('.empty-page-message').show();
			$('#button_delete_all').hide();
		}
	}
}

function onDeleteNotification(id) {
	if (loading) {
		return;
	}
	loading = true;
	$('#notification-'+id).slideUp(300, function() {
		$('#notification-'+id).remove();
		$.post(
			'/json/delete-notifications',
			{
				id: [id]
			},
			function(data) {
				if (data.result == 'ok') {
				    if (data.notifications_count > 0) {
					    $('.header-notifications-count').text(data.notifications_count);
					} else {
					    $('#header-notifications').css('display', 'none');
					}
				}
				loadNotifications(1, pageSize - 1);
			},
			'json'
		);
	});
}

function onDeleteAllVisibleNotifications() {
	if (loading) {
		return;
	}
	loading = true;
	$("#modal-confirm-delete").modal("hide");
	var ids = [];
	$('.notification-container').each(function() {
		ids.push($(this).attr('notification-id'));
	});

	var deleting = false;
	$('.notification-container').slideUp(500, function() {
		if (deleting) {
			return;
		}
		deleting = true;
		$('.notification-container').remove();
		$.post(
			'/json/delete-notifications',
			{
				id: ids
			},
			function(data) {
				if (data.result == 'ok') {
				    if (data.notifications_count > 0) {
					    $('.header-notifications-count').text(data.notifications_count);
					} else {
					    $('#header-notifications').css('display', 'none');
					}
				}
				loadNotifications(pageSize, 0);
			},
			'json'
		);
	});
}

function showCircleLoader() {
	$('body').append(
		'<div id="spinner-fullscreen" class="spinner-fillscreen-wrapper"><div class="spinner wide"></div></div>'
	)
}

function hideCircleLoader() {
	$('#spinner-fullscreen').remove();
}

function acceptNotification(notificationId) {
    showCircleLoader();
    $.post(
        '/json/accept-notification',
        {
            'notification_id': notificationId,
        },
        null,
        'json'
    ).done(function(data) {
        hideCircleLoader();
        $('.notification-container').remove();
        loadNotifications(pageSize, 0);
    })
}

function rejectNotification(notificationId) {
    showCircleLoader();
    $.post(
        '/json/reject-notification',
        {
            'notification_id': notificationId,
        },
        null,
        'json'
    ).done(function(data) {
        hideCircleLoader();
        $('.notification-container').remove();
        loadNotifications(pageSize, 0);
    })
}

$(function() {
	$("#button_delete_all").click(function() {
		$("#modal-confirm-delete").modal("show");
	});
	
	$("#button_confirm_delete").click(function() {
		onDeleteAllVisibleNotifications();
	});

	loadNotifications(pageSize, 0);
});
</script>
{% endblock content %}


