{% extends "base-adv.html" %}


{% block content %}
<div style="min-height:610px;">

<div class="container">

<div style="position:relative;">
	<div style="position: absolute; right:0; bottom:0;">
		<button id="button_delete_all" type="button" class="btn btn-small btn-default" style="display: none;">Delete all</button>
	</div>
	<h2>Notifications</h2>
</div>


<div class="image-details-comments" id="notifications-container">
</div>

<div id="nav_buttons" style="display:none; margin:10px;" class="text-center">
	<form name="a" class="form-inline">
		<button id="button_prev" type="button" class="btn btn-small btn-desfault">Prev</button>
		<input type="text" id="offset" class="form-control" size="4" />
		<button id="button_next" type="button" class="btn btn-small btn-desfault">Next</button>
	</form>
</div>

</div>

 
</div>

<div id="modal-confirm-delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Delete all notifications?</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a href="#" id="button_confirm_delete" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>


<script>
var maxCount=10;

function getCurrentOffset() {
	return parseInt($("#offset").val(), 10);
}

function setCurrentOffset(offset) {
	$("#offset").val(offset);
	showCurrentOffset();
}

function showCurrentOffset() {
	loadNotifications(maxCount, getCurrentOffset());
}
</script>

<script>
var spinner='<div class="spinner-wrapper"><div class="spinner"></div></div>';
var emptyPage='<div class="empty-page-message">There are no notifications for you</div>';

function commentToHtml(comment) {
	var result='';
	if (comment.hidden) {
		result = `<div class="comment-text" style="color:red;">Comment hidden by administrator</div>`;
	} else {
		for (var i=0; i<comment.text.length; i++) {
			result += `<div class="comment-text">${comment.text[i]}</div>`
		}
	}
	return result;
}

function constructNotificationComponent(n) {
	var validNotification=true;
	var iconName='icon-bell-alt';
	var headerText='notified'
	var hyperlink='';
	var content='';
	if (n.type=='comment') {
		iconName='icon-comment';
		headerText='left comment';
		if (n.artwork && n.comment) {
			hyperlink=`/images/details/${n.artwork.id}#comment-${n.comment.id}`;
			content=commentToHtml(n.comment);
		} else {
			validNotification=false;
		}
	} else if (n.type=='favorite') {
		iconName='icon-star';
		headerText='favorited artwork'
		if (n.artwork) {
			hyperlink=`/images/details/${n.artwork.id}`;
		} else {
			validNotification=false;
		}
	} else if (n.type=='complain') {
		iconName='icon-warning-sign';
		headerText='complained on comment'
		if (n.artwork && n.comment) {
			hyperlink=`/images/details/${n.artwork.id}#comment-${n.comment.id}`;
			content=commentToHtml(n.comment);
		} else {
			validNotification=false;
		}
	} 
	
	var result='';
	
	if (validNotification) {
		result=`<div id="notification-${n.id}" class="notification-container">\
			<div class="notification-icon"><i class="${iconName}"></i></div>\
			<div class="comment">\
				<div class="comment-header">\
					<div>${n.date}</div>\
					<div><b>${n.sender.nickname}</b> ${headerText}</div>\
					<h2><a href="${hyperlink}">${n.artwork.name}</a></h2>\
				</div>\
				${content}\
			</div>\
		</div>`;
	} else {
		result=`<div id="notification-${n.id}" class="notification-container">\
			<div class="notification-icon"><i class="${iconName}"></i></div>\
			<div class="comment">\
				<div class="comment-header">\
					<div>${n.date}</div>\
					<div><b>${n.sender.nickname}</b> ${headerText}</div>\
					<div>Artwork or comment was deleted</div>\
				</div>\
			</div>\
		</div>`;
	}
	return result;
};

function loadNotifications(limit, offset) {
	$("#nav_buttons").hide();
	$("#button_delete_all").hide();
	$('#notifications-container').html(spinner);
	$.get('/json/notifications?limit='+(limit+1)+'&offset='+offset,
		function(data) {
			var notifications=JSON.parse(data);
			var html='';
			for (var i=0; i<notifications.length && i<limit; i++) {
				html+=constructNotificationComponent(notifications[i]);
			}
			if (!html) {
				html=emptyPage;
			}
			$('#notifications-container').html(html);
			
			if (offset>0 || notifications.length>limit) {
				$("#nav_buttons").show();	
			} else {
				$("#nav_buttons").hide();
			}
			
			if (offset==0) {
				$('#button_prev').attr('disabled', 'disabled');
			} else {
				$('#button_prev').removeAttr('disabled');
			}
			
			if (notifications.length <= limit) {
				$('#button_next').attr('disabled', 'disabled');
			} else {
				$('#button_next').removeAttr('disabled');
			}
			
			if (notifications.length > 0 || offset > 0) {
				$("#button_delete_all").show();
			}
		}
	);
};

$(function() {
	$("#button_prev").click(function() {
		var offset = getCurrentOffset() - maxCount;
		if (offset<0) {
			offset=0;
		}
		setCurrentOffset(offset);
		window.scrollTo(0,0);
	});
	
	$("#button_next").click(function() {
		var offset = getCurrentOffset() + maxCount;
		setCurrentOffset(offset);
		window.scrollTo(0,0);
	});
	
	$("#offset").keypress(function(event) {
		if (event.which==13) {
			showCurrentOffset();
			window.scrollTo(0,0);
			event.preventDefault();
		}
	});
	
	$("#button_delete_all").click(function() {
		$("#modal-confirm-delete").modal("show");
	});
	
	$("#button_confirm_delete").click(function() {
		$("#nav_buttons").hide();
		$("#button_delete_all").hide();
		$('#notifications-container').html(spinner);
		$("#modal-confirm-delete").modal("hide");
		
		$.get("/delete-all-notifications",
			function() {
				$('#header-notifications').hide();
				$('#notifications-container').html(emptyPage);
			});
	});
	
	setCurrentOffset(0);
});
</script>
{% endblock content %}


