{% extends "base.html" %}

{% block include_css %}
 {{ block.super }}
 <link href="/css/jquery.minicolors.css" rel="stylesheet">
 <link href="/syronex-colorpicker/syronex-colorpicker.css" rel="stylesheet">
 <link href="/tagmanager/bootstrap-tagmanager.css" rel="stylesheet">
{% endblock %}

{% block include_js %}
{{ block.super }}
<script src="/js/raphael-min.js"></script>
{% endblock %}

{% block content_full %}  

<script src="/js/jquery.minicolors.js"></script>
<script src="/syronex-colorpicker/syronex-colorpicker.js"></script>
<script src="/tagmanager/bootstrap-tagmanager.js"></script>

<div class="row-fluid">
	<div class="painter-toolbar-full text-center">
		<div style="margin-bottom:10px;">
			<button id="btn-save" class="btn btn-small btn-primary" type="button"><i class="icon icon-hdd icon-white"></i> Save</button>
			<button id="btn-properties" class="btn btn-small btn-success" type="button"><i class="icon icon-edit icon-white"></i></button>
		</div>
		<div id="color-selection" >
			<div id="color-picker"></div>
		</div>
		<div id="color-palette" class="painter-toolbar"></div>
		<div>
			<a href="#" id="btn-set-background-color">Set background color</a>
		</div>
		<div class="painter-toolbar">
			<div id="shapes-toolbar"></div>
		</div>
		<div id="coordinates"></div>
		<div id="test"></div>
	</div>
	
	<div class="span12" style="margin-left:0 !important;">
		<div id="canvas-wrapper" class="painter-canvas-wrapper">
			<div id="canvas"></div>			
		</div>
		
	</div>
</div>

<div id="properties-modal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 id="myModalLabel">Artwork properties</h3>
  </div>
  <div class="modal-body">
    <form>
    	<label>Artwork title</label>
    	<input type="text" name="modal_artwork_name" id="modal_artwork_name" value="{{ artwork_name }}" style="width:500px;"/>
    	<label>Tags</label>
    	<input type="text" name="modal_artwork_tags" id="modal_artwork_tags" class="tm-input tm-input-info"/>
    	<input type="hidden" name="modal_artwork_tags_hidden" id="modal_artwork_tags_hidden" value="{{ artwork_tags }}"/>
    	<input type="hidden" name="modal_success_action" id="modal_success_action" />
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal">Close</button>
    <button id="btn-properties-save" type="button" class="btn btn-primary">Save changes</button>
  </div>
</div>

<form name="f" style="display:none" action="/save-image" method="post">
	<input type="hidden" name="artwork_id" value="{{ artwork_id }}" />
	<input type="hidden" name="artwork_name" id="artwork_name" value="{{ artwork_name }}" />
	<input type="hidden" name="artwork_tags" id="artwork_tags" value="{{ artwork_tags }}" />
	<input type="hidden" name="artwork_json" value="" />
</form>

<script src="/js/grids.js"></script>
<script src="/js/grid-square.js"></script>
<script src="/js/grid-triangle.js"></script>
<script src="/js/grid-hex.js"></script>

<script>
// RaphaelJS documentation - http://raphaeljs.com/reference.html
// JQuery Minicolors color picker documentation - http://labs.abeautifulsite.net/jquery-miniColors/
// Tag manager - http://welldonethings.com/tags/manager
// Color picker - http://www.syronex.com/software/jquery-color-picker

var artwork={{ artwork_json|safe }};

var paper;
var grid;
var selectedShapeName=null;
var selectedColor="#3377ee";
var backgroundColor="#ffffff";
var changed=false;
var paperMouseDown=false;

var gridArtwork=new GridArtwork();


// 
function adjustCanvasWrapper() {
	$("#canvas-wrapper").height($(window).height()-50);
}

function paintShapeToolButton(shapeName) {
	var shape=grid.shapes[shapeName];
	
	$("#shape-"+shapeName).html("");

	var shapeRect=grid.getCellRect(0,0);
	var shapePaper=new Raphael("shape-"+shapeName, shapeRect.width+20, shapeRect.height+20);
	
	if (shapeName==selectedShapeName) {
		var bgElement=shapePaper.ellipse(shapeRect.width/2+10, shapeRect.height/2+10,
			shapeRect.width/2+10, shapeRect.height/2+10);
		bgElement.attr({"fill":"r#ffffff:40-#cccccc", "stroke-width":0});
	}
	shape.paint(shapePaper, 0, 0, selectedColor, 10, 10);
}

function createShapesToolbar() {
	var shapeElements="";
	for (var shapeName in grid.shapes) {
		shapeElements+='<span id="shape-'+shapeName+
			'" class="grid-shape-button" shape-name="'+
			shapeName+'"></span>';
	}
	
	$("#shapes-toolbar").html(shapeElements);
	
	selectedShapeName="flat";
	for (var shapeName in grid.shapes) {
		paintShapeToolButton(shapeName);
	}
	
	$(".grid-shape-button").click(
		function() {
			var oldSelectedShapeName=selectedShapeName;
			selectedShapeName=$(this).attr("shape-name");
			for (var shapeName in grid.shapes) {
				if (shapeName==selectedShapeName ||
					shapeName==oldSelectedShapeName) {
					paintShapeToolButton(shapeName);		
				}
			}
		}
	)
}

function paintOnCanvas(col, row, shapeName, color) {
	var cell=gridArtwork.setCell(col, row, shapeName, color);
	if (!cell.element && cell.shapeName!="empty") {
		var element=grid.shapes[shapeName].paint(paper, col, row, color, 0, 0)
		cell.element=element;
	}
}

function paintOnCanvasByMouseEvent(event) {
	var cell=grid.pointToCell(
		event.pageX - $("#canvas").position().left/*+$("#canvas-wrapper").scrollLeft()*/,
		event.pageY - $("#canvas").position().top/*+$("#canvas-wrapper").scrollTop()*/);
	$("#coordinates").text(cell.col+" "+cell.row);
			
	if (paperMouseDown) {
		paintOnCanvas(cell.col, cell.row, selectedShapeName, selectedColor);
		changed=true;
	}
}

function getArtworkEffectiveRect(grid, artwork) {
	var x1=100000;
	var y1=100000;
	var x2=0;
	var y2=0;
	for (var row=0; row<artwork.cells.length; row++) {
		for (var col=0; col<artwork.cells[row].length; col++) {
			if (artwork.cells[row][col] && artwork.cells[row][col].shapeName!='empty') {
				var cellRect=grid.getCellRect(col, row);
				if (cellRect.left<x1) {
					x1=cellRect.left;
				}
				if (cellRect.top<y1) {
					y1=cellRect.top;
				}
				if (cellRect.left+cellRect.width>x2) {
					x2=cellRect.left+cellRect.width;
				}
				if (cellRect.top+cellRect.height>y2) {
					y2=cellRect.top+cellRect.height;
				}
			}
		}
	}
	
	return {
		left: Math.floor(x1),
		top: Math.floor(y1),
		width: Math.round(x2-x1+1),
		height: Math.round(y2-y1+1)
	}
}

function saveArtwork() {
	var a={
		version: {
			major:1,
			minor:0
		},
		effectiveRect: getArtworkEffectiveRect(grid,gridArtwork),
		canvasSize: {
			width: artwork.canvasSize.width,
			height: artwork.canvasSize.height
		},
		backgroundColor: backgroundColor,
		layers:[{
			grid:grid.name,
			cellSize:grid.cellSize,
			cells:[]	
		}]
	}
	
	if (artwork.id) {
		a.id=artwork.id;
	}
	
	for (var row=0; row<gridArtwork.cells.length; row++) {
		for (var col=0; col<gridArtwork.cells[row].length; col++) {
			if (gridArtwork.cells[row][col] && gridArtwork.cells[row][col].shapeName!="empty") {
				a.layers[0].cells.push({
					col:col,
					row:row,
					shape:gridArtwork.cells[row][col].shapeName,
					color:gridArtwork.cells[row][col].color	
				})
			}
		}
	}
	
    $("input[name=artwork_json]").val(JSON.stringify(a));
    changed=false;
    $("form[name=f]")[0].submit();
}

function showPropertiesDialog(modalAction) {
	//$("#modal_artwork_name").val($("#artwork_name").val());
	$("#modal_success_action").val(modalAction);
	$("#properties-modal").modal('show');
}


$(function() {
	adjustCanvasWrapper();
	$(window).resize(
		function() {
			adjustCanvasWrapper();
		})
			
	backgroundColor=artwork.backgroundColor;
	$("#canvas")
		.css("background-color",backgroundColor)
		.css("width",artwork.canvasSize.width)
		.css("height",artwork.canvasSize.height);
		
	paper=new Raphael("canvas",artwork.canvasSize.width,artwork.canvasSize.height);
	grid=gridFactory[artwork.layers[0].grid]();
	grid.cellSize=artwork.layers[0].cellSize;
	grid.paintGrid(paper);
	createShapesToolbar();
	
	var layer=artwork.layers[0];
	for (var i=0; i<layer.cells.length; i++) {
		paintOnCanvas(layer.cells[i].col, layer.cells[i].row, layer.cells[i].shape, layer.cells[i].color);
	}
	
	$("#canvas")
	.mousedown(
		function(event) {
			paperMouseDown=true;
			paintOnCanvasByMouseEvent(event);
		}
	)
	.mouseup(
		function(event) {
			paperMouseDown=false;
		}
	)
	.mousemove(
		function(event) {
			paintOnCanvasByMouseEvent(event);
		}
	)
	
	$("#color-picker").minicolors({
		inline:true,
		control: "brightness",
		change: function(hex,opacity) {
			selectedColor=hex;
			for (var shapeName in grid.shapes) {
				paintShapeToolButton(shapeName);
			}
		}
	}).minicolors("value",selectedColor);
	
	$("#btn-set-background-color").click(
		function() {
			backgroundColor=selectedColor;
			$("#canvas").css("background-color",backgroundColor);
		}
	)
	
	$("#btn-save").click(
		function() {
			if ($("#artwork_name").val()) {
				saveArtwork();	
			} else {
				showPropertiesDialog("save");
			}
		}
	)
	
	$("#btn-properties").click(
		function() {
			showPropertiesDialog("");
		}
	)
	
	$("#btn-properties-save").click(
		function() {
			$("#artwork_name").val($("#modal_artwork_name").val());
			$("#artwork_tags").val($("#modal_artwork_tags_hidden").val());
			$("#properties-modal").modal('hide');
			
			var modalAction=$("#modal_success_action").val();
			if (modalAction=="save") {
				saveArtwork();
			}
		}
	)
	
	window.onbeforeunload=
		function() {
			if (changed) {
				return "Your drawing was changed. Do you want to leave without saving?";
			}
		}
		
	$("#modal_artwork_tags").tagsManager({
		hiddenTagListId: "modal_artwork_tags_hidden"
	});
	
	$("#color-palette").colorPicker();
})
</script>

{% endblock %}
