{% extends "base.html" %}

{% block content %}  

<div class="row-fluid">
	<div class="span2">
		<div style="background-color:red">
			<ul>
				<li>Menu item 1</li>
				<li>Menu item 2</li>
			</ul>
		</div>
	</div>
	
	<div class="span10">
		<div id="canvas-wrapper" class="painter-canvas-wrapper">
			<div id="canvas"></div>			
		</div>
		
	</div>
</div>

<script src="/js/grids.js"></script>

<script>
// 
function adjustCanvasWrapper() {
	//alert(($(window).height()-50)+"px");
	$("#canvas-wrapper").height($(window).height()-50);
//	$("#canvas-wrapper").text(($(window).height()-50)+"px");
}

var paper;

$(function() {
	adjustCanvasWrapper();
	$(window).resize(
		function() {
			adjustCanvasWrapper();
		})
	
	paper=new Raphael("canvas",2000,2000);
	var grid=new {{ grid }}();
	grid.paintGrid(paper);
	
	$("#canvas").mousedown(
		function(event) {
			var cell=grid.pointToCell(event.offsetX,event.offsetY);
			alert("mouse down at "+cell.x+" "+cell.y);
		}
	)
})
</script>

{% endblock %}
