{% extends "base.html" %}

{% block content %}  

<div class="row-fluid">
	<div class="span2">
		<div style="background-color:red">
			<ul>
				<li>Menu item 1</li>
				<li>Menu item 2</li>
			</ul>
		</div>
		<div id="shapes"></div>
		<div id="coordinates"></div>
		<div id="test"></div>
	</div>
	
	<div class="span10">
		<div id="canvas-wrapper" class="painter-canvas-wrapper">
			<div id="canvas"></div>			
		</div>
		
	</div>
</div>

<script src="/js/grids.js"></script>

<script>
var paper;
var paperShapes;
var gridShapes;
var toolbarShapes=[];


// 
function adjustCanvasWrapper() {
	$("#canvas-wrapper").height($(window).height()-50);
}


function repaintShapesToolbar() {
	paperShapes.clear();
	toolbarShapes=[];
	
	var w=$("#shapes").width();
	$("#shapes > svg").attr("width",w);

	var r=paperShapes.rect(0,0,w-1,paperShapes.height-1);
	r.attr({"fill":"#cceeff", "stroke-width":0});
	
	var shapeStep=w/gridShapes.shapes.length;
	var shapeCenterX=shapeStep/2;
	var shapeCenterY=paperShapes.height/2;
	
	for (var i=0; i<gridShapes.shapes.length; i++) {
		var p=gridShapes.centerPointToBasePoint(shapeCenterX,shapeCenterY);
		gridShapes.shapes[i].paint(paperShapes,p,"#3377ee");
		shapeCenterX+=shapeStep;
		
	}
	
}


$(function() {
	adjustCanvasWrapper();
	$(window).resize(
		function() {
			adjustCanvasWrapper();
			repaintShapesToolbar();
		})
		
	paperShapes=new Raphael("shapes",200,50);
	gridShapes=new {{ grid }}();
	repaintShapesToolbar();
	
	paper=new Raphael("canvas",2000,2000);
	var grid=new {{ grid }}();
	grid.paintGrid(paper);
	
	$("#canvas").mousemove(
		function(event) {
			var cell=grid.pointToCell(event.offsetX,event.offsetY);
			$("#coordinates").text(cell.col+" "+cell.row);
		}
	)
})
</script>

{% endblock %}
