{% extends "base-adv.html" %}


{% block content %}  
<div class="single-container">
	
<div class="container">
	<div class="row">
		<div class="col-xs-2 col-xs-offset-2">
			<img src="/img/empty-profile.png" />
		</div>
		
		<div class="col-xs-6">
			<div style="font-weight: bold; font-size: 16pt;">{{ profile.nickname }}</div>
			<div style="color: gray;">joined {{ profile.join_date|date:"d M Y" }}</div>
			{% if user_info.superadmin %}
			<div>{{ profile.email }}</div>
			{% endif%}
			<div>{{ profile.artworks_count }} artworks</div>
			<div>
				<span id="favorite_count">{{ profile.favorite_count}}</span> <i class="icon-star"></i>
				{% if user_info.superadmin %}
				  <a id="updateFavoritesButton" href="javascript:updateUserFavorites()" class="btn btn-default btn-small"><i class="icon-refresh"></i></a>
				  <span id="waitUpdateFavorites" style="display:none;">Wait please...</span>
				{% endif %}
			</div>
			<div><a href="/profiles/{{ profile.profile_id }}/favorites">Favorites</a></div>
		</div>
	
	</div>
</div>

<div style="height:20px;"></div>


<div class="container">
	
	{% include "thumbnails.html" %}
	

</div>
</div>


<script>
$(function() {
	$("#top-menu-gallery").addClass("active");
})
</script>

{% if user_info.superadmin %}
<script>
profile_id = '{{ profile.profile_id }}';

function updateUserFavorites() {
	$("#waitUpdateFavorites").show();
	$("#updateFavoritesButton").hide();
	$.getJSON(
		'/admin/updateUserFavorites?profile_id='+profile_id
	).done(function(data) {
		$("#waitUpdateFavorites").hide();
		$("#updateFavoritesButton").show();
		if (data["error"]) {
			alert(data["error"]);
		} else {
			$("#favorite_count").text(data["count"]);
		}
	}).fail(function() {
		$("#waitUpdateFavorites").hide();
		$("#updateFavoritesButton").show();
		alert('Error updating favorites');
	});
}
</script>
{% endif %}


{% endblock content %}
