{% extends "base-adv.html" %}


{% block content %}

<div class="container">

<h2>Site rules</h2>


<div class="image-details-comments" style="height:600px">
	<div class="comment">
		<div class="comment-text">

			<p>
			1. <b>No Self-promotion.</b>
			A comment that contains only a link to your blog, a product, or your article 
			on another site will be removed.
			</p>
			
			<p>
			2. <b>No spam.</b>  
			A discussion or comment that contains only a link to your blog, a product, or your article on another site will almost always be removed.
			</p>
			
			<p>
			3. <b>No personal attacks and harassment.</b> 
			Sexist, racist, misogynist, homophobic, and broad, offensive generalizations about groups of people are not allowed.
			Comments or discussions written intentionally to provoke will also be removed.
			</p>
			
			<p>
			4. <b>No NSFW content.</b>
			Do not create images which are not be appropriate to view at work in the presence of coworkers, your boss or even family members when you're at home.
			</p>

            <p>
            5. <b>No politics or religion.</b>
            Posts or comments about politics jeopardize the creative atmosphere and are not permitted.
            </p>
			
			<p>
			6. <b>If you see something, say something.</b>
			If you see an issue, <a href="mailto:vlad.alexeev@gmail.com">contact the moderators</a>.
			</p>
			
			<p>
			7. <b>English only.</b>
			We currently only support English-only discussions. Non-English comments and discussions will be removed.
			</p>
		</div>
	</div>			
</div>




</div>

  
{% endblock content %}


