<div class="container">
    <div class="row">
        <div class="tag-header-icon-row">
            <div class="tag-header-icon-button-wrapper">
            </div>
            <div class="tag-header-icon-background">
                <div class="tag-header-icon-image-wrapper">
                    <div class="tag-header-icon-image" style="background-image: url(/images/png/{{ tag.artwork_id }}-small.png);">
                    </div>
                </div>
            </div>
            <div class="tag-header-icon-button-wrapper">
            </div>
        </div>
    </div>
</div>