{% if a.not_found %}
  <div class="thumbnail-wrapper" image_id="{{ a.key.id }}">
    <div class="thumbnail index-page-thumbnail" style="cursor: default;">
    	{% if template_plugin %}
    		{% include template_plugin %}
    	{% endif %}
  		<div class="thumb-image" style="background-image: url(/img/no-image.png);">
		</div>
		<div class="thumb-details">
			<div class="thumb-title">&nbsp;</div>
			<div class="thumb-author">&nbsp;</div>
			<div class="thumb-date">&nbsp;</div>
		</div>
	</div>
  </div>
{% else %}
  <div class="thumbnail-wrapper">  
  	<a href="/images/details/{{ a.key.id }}">
    <div class="thumbnail index-page-thumbnail">
    	{% if template_plugin %}
    		{% include template_plugin %}
    	{% endif %}
        {% if a.author.self_block %}
            <div class="thumb-image" style="background-image: url(/img/self-block-thumb.svg);"></div>
        {% else %}
            {% if a.copyright_block %}
                <div class="thumb-image" style="background-image: url(/img/copyright-thumb.png);"></div>
            {% else %}
                {% if a.block %}
              		<div class="thumb-image" style="background-image: url(/img/block-thumb.png);"></div>
                {% else %}
              		<div class="thumb-image" style="background-image: url({{ a.thumbnail_image_name }});"></div>
                {% endif %}
            {% endif %}
        {% endif %}
		<div class="thumb-details">
			{% if a.copyright_block  or a.block %}
			<div class="thumb-title" style="color: gray;">Blocked image</div>
			{% else %}
			<div class="thumb-title">{{ a.name }}</div>
			{% endif %}
			<div class="thumb-author">{{ a.author.nickname }}</div>
			<div class="thumb-date">{{ a.date|date:"d M Y H:i" }}</div>
		</div>
	</div>
	</a>
  </div>
{% endif%}
