  <div class="col-xs-3">  
    <div class="thumbnail index-page-thumbnail">
  		<div class="thumb-image">
  			<a href="/images/details/{{ a.key.id }}">
			  <img src="/images/png/{{ a.thumbnail_image_name }}" width="{{ a.thumbnail_width }}" height="{{ a.thumbnail_height }}">
			</a>
		</div>
		<div>
			<div class="thumb-title">{{ a.name }}</div>
			<div class="thumb-author">{{ a.author.nickname }}</div>
			<div class="thumb-date">{{ a.date|date:"d M Y H:i" }}</div>
		</div>
	</div>
  </div>