{% extends "base-adv.html" %}


{% block content %}  
<div class="single-container">

    {% include "user-page-title.html" %}

<div class="container">
	
	{% include "thumbnails.html" %}
	

</div>
</div>


<div id="modal-error" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>One fine body</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>




<script>
profile_id = '{{ profile.profile_id }}';

function showErrorDialog(message) {
	$("#modal-error .modal-body").html("<p>"+message+"</p>");
	$("#modal-error .modal-title").html("Error");
	$("#modal-error").modal();
}

function getFollowersCount() {
	var v = $('#followers-count').text();
	return parseInt(v, 10);
}

function setFollowersCount(count) {
	$('#followers-count').text('' + count);
}

$(function() {
	$("#button_follow").click(function() {
		$.getJSON('/follow?user_id='+profile_id)
			.done(function(data) {
				if (data=="OK") {
					$("#button_follow").hide();
					$("#button_unfollow").show();
					setFollowersCount(getFollowersCount() + 1);
				} else if (data=="not_changed") {
					showErrorDialog("You can follow or unfollow the same person once per minute.");
				}
			});	

	});
	
	$("#button_unfollow").click(function() {
		$.getJSON('/unfollow?user_id='+profile_id)
			.done(function(data) {
				if (data=="OK") {
					$("#button_follow").show();
					$("#button_unfollow").hide();
					setFollowersCount(getFollowersCount() - 1);
				} else if (data=="not_changed") {
					showErrorDialog("You can follow or unfollow the same person once per minute.");
				}
			});			
	});	
});
</script>

{% if user_info.superadmin %}
<div id="modal-block-user" class="modal fade">
  <div class="modal-dialog">
  	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">Block user</h4>
	  </div>
	  <div class="modal-body">
	    <form name="blockForm" method="POST" action="/admin/block-user" role="form">
        	<input type="hidden" name="profile_id" value="{{ profile.profile_id }}" />
        	<div class="form-group">
    			<label>Block reason</label>
    			<input type="text" name="block_reason" id="admin_artwork_name" value="" class="form-control"/>
    		</div>
        </form>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
	    <button id="btn-block-user" type="button" class="btn btn-danger">Block user</button>
	  </div>
	</div>  		
  </div>
</div>


<script>
function updateUserFavorites() {
	$("#waitUpdateFavorites").show();
	$("#updateFavoritesButton").hide();
	$.getJSON(
		'/admin/updateUserFavorites?profile_id='+profile_id
	).done(function(data) {
		$("#waitUpdateFavorites").hide();
		$("#updateFavoritesButton").show();
		if (data["error"]) {
			alert(data["error"]);
		} else {
			$("#favorite_count").text(data["count"]);
		}
	}).fail(function() {
		$("#waitUpdateFavorites").hide();
		$("#updateFavoritesButton").show();
		alert('Error updating favorites');
	});
}

$(function() {
	$('#btn-block-user').click(
		function() {
			$('form[name=blockForm]')[0].submit();
		}
	);
});
</script>
{% endif %}


<script>
$(function() {
    {% if this_user_profile %}
	$("#top-menu-my-images").addClass("active");
    {% else %}
    $("#top-menu-gallery").addClass("active");
    {% endif %}
})
</script>




{% endblock content %}
