body {
	padding-top:60px;
}

.common-page-footer {
	border-top: 1px solid rgb(200,200,200);
	background-image: linear-gradient(bottom, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
	text-align: center;
}

.single-container {
	min-height: 610px;
}


.header-user {
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
	max-width: 200px;
	display: inline-block;
	vertical-align: bottom;
}

.header-new-image-link {
	color: #337ab7 !important;
	font-weight: 600;
}

.header-new-image-link:hover {
	color: #23527c !important;
	font-weight: 600;
}


.grid-selector-wrapper {
	display:inline-block;
	border: solid 1px #CCC;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	margin: 15px;
	height:120px;
	width:190px;
}


.painter-canvas-wrapper {
	overflow : scroll; 
	padding-left:2px;
	margin-left: 220px !important;
}

.painter-toolbar-full {
	position: fixed;
	left:0;
	width:220px;
	overflow-y: auto;
}

.painter-toolbar-full::-webkit-scrollbar {
	width: 8px;
}

.painter-toolbar {
	display:inline-block;
	z-index: 1;
	width:200px;
	/*margin:10px;*/
	margin-top:10px; 
	padding:0;
	/*padding: 10px 5px 5px 10px;*/
	text-align:center;
	border: solid 1px #CCC;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	background-color: white;
}

.painter-toolbar #shapes-toolbar {
	padding: 10px 5px 5px 10px;
}

.painter-toolbar #selected-color {
	float:left;	
	width:30px;	
	height:30px; 
	cursor:pointer; 
	overflow:hidden; 
	border:1px solid #666666;	
	margin:1px;
}

.painter-toolbar #color-palette div {
	float:left;
	width:13px;
	height:13px;
	cursor:pointer;
	overflow:hidden; /* for IE6 */
	border:1px solid #666666;
	margin:1px;
}

.painter-toolbar #color-picker-text {
	width: 100%;
}

.painter-toolbar-header {
	background-color: #f0f0f0;
	padding-left: 5px;
	padding-right: 5px;
}

.painter-toolbar-container {
	padding: 2px;
}

.painter-toolbar-form {
	margin-bottom:4px;	
}

.painter-toolbar-form label {
	width:150px;
	text-align: left;
	margin-left: 4px;
}

.painter-toolbar-form input {
	text-align: left;
	width:150px;
	margin-bottom:0;
}

.painter-btn-tool {
	padding: 5px;
}

.grid-shape-button {
}

/* 
 * Thumbnails
 */

/*
.thumb-container {
	min-height:610px;
}
*/

.thumb-button {
	border:1px solid white;
	box-shadow: none;
}

.thumb-image {
	width:200px; 
	height:150px; 
	text-align: center;
	margin: auto;
	position: relative;
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
}

.thumb-image img {
	display: block;
	position: absolute;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
}


.thumb-title {
	/*width:200px;*/ 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
	font-size:12pt;
	font-weight: bold;
	text-align: center;
	height: 14pt;
	color: black;
}

.thumb-author {
	font-size:10pt;
	text-align: center;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
}

.thumb-date {
	font-size:8pt;
	text-align: center;
}

.thumbnail-wrapper a, .thumbnail-wrapper a:active, .thumbnail-wrapper a:visited, .thumbnail-wrapper a:hover {
	text-decoration: none;
	color: #888;
}


/**
 * 	Image details classes
 */

.image-details-image {
	position: relative;
	min-height: 400px;
}

.image-details-image .main-image {
	max-width: 100%;
	height: auto;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}

.image-details-image .pixel-image {
	position: absolute;
	bottom: 0;
	right: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
}

.image-details-image .pixel-image img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.image-details-header {
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	margin: 10px 0 10px 0;
	padding:10px;
	background-color: #f0f0f0;
	overflow: hidden;
}

.image-details-header h3 {
	margin-top:0;
	margin-bottom:0;
}

.image-details-header .artist {
	font-weight: bold;
}

.image-details-header .details {
	color: #808080;
}

.image-details-header .description-text {
	padding: 4px 100px 4px 0px;
}

.image-details-actions {
	margin: 10px 0 10px 0;
}

.image-details-actions .btn {
	margin-bottom: 5px;
}

.image-details-comments {
	margin: 10px 0 10px 0;
}

.image-details-comments .comment {
	background-color: #f4f4f4;
	border-radius: 5px;
	border: solid 1px #a0a0a0;
	margin-bottom: 10px;
}

.image-details-comments .comment .comment-header {
	background-color: #e8e8e8;
	border-bottom: solid 1px #b0b0b0;
	padding: 2px 10px 2px 10px;
	font-size: 9pt;
	overflow: hidden;
}

.image-details-comments .comment .comment-text {
	padding: 2px 10px 2px 10px;
}

.image-details-comments .comment .comment-header h2 {
	font-size: 14pt;
	font-weight: bold;
	margin:0;
	line-height:18pt;
	min-height: 18pt;
}


.image-details-comments .comment .comment-text {
	padding: 4px 10px 4px 10px;
	border: none;
	background: none;
	font-size: 12pt;
	margin-bottom: 0;
	overflow: hidden;
}

.image-details-comment-add {
	margin: 10px 0 10px 0;
}

.image-details-favorite-wrapper {
	z-index: 1000;
}

.image-details-favorite-count {
	font-size: 30px;
	display: inline-block;
	vertical-align: top;
	margin-top: -2px;
}

.image-details-favorite {
	width: 32px;
	height: 32px;
	display: inline-block;
}

.image-details-favorite-hint {
	background-color: #666666;
	background: linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.1) 100%);
	color: white;
	border-radius: 3px;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
}

.star-favorite {
	background-image: url('/img/stars/star4.png');
}

.star-not-favorite {
	background-image: url('/img/stars/star0.png');
}


/*
 * Misc styles
 */

.delimiter {
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	width:80%;
	height:1px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	background-color: #a0a0a0;
	border: 1 solid #a0a0a0;
}

.empty-page-message {
	padding-top:60px;
	text-align:center;
	font-size: 32pt; 
	color: #e0e0e0; 
	font-weight: bold;
	line-height: 40pt;
	text-shadow: #a0a0a0 1px 2px 2px;
}

.save-dialog-special-properties-frame {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 15px 0 15px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.save-dialog-expandable-label {
	cursor: pointer;
}

/*
 * Flat scrollbars 	
 */

::-webkit-scrollbar {
      width: 12px;
      height: 12px;
} 
::-webkit-scrollbar-track {
      background-color: #e0e0e0;
} 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 8px;
} 
/*
::-webkit-scrollbar-button {
      background-color: #808080;
      -webkit-border-radius: 8px;
} */
::-webkit-scrollbar-corner {
      background-color: #606060;
} 

/*
::-webkit-scrollbar-track-piece {
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}*/


/*
 * For place ads to the right
 */



/*
.row-fluid > .sidebar-nav {
    position: relative;
    top: 0;
    left:auto;
    width: 180px;
}

/*
.left {
    float:left;
}

.right {
    float:right;
}

.fixed-fluid {
    margin-left: 180px;
}*/

/*
.fixed-fixed {
    margin: 0 180px;
}*/


/**
 * 	Bootstrap 2.3.3 issue
 */

.typeahead.dropdown-menu { z-index: 200000; }
.modal-body{overflow-y: inherit;}



.index-page-section {
background: -moz-linear-gradient(top, rgba(237,237,237,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(237,237,237,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(237,237,237,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(237,237,237,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(237,237,237,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ededed', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
border-radius: 10px;
margin-top: 20px;
}

.index-page-section#editor_choice {
background: linear-gradient(to bottom, rgba(150,200,0,0.25) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.index-page-section#top_favorites {
background: linear-gradient(to bottom, rgba(200,200,0,0.25) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.index-page-section#recent_favorites {
background: linear-gradient(to bottom, rgba(237,180,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.index-page-section#recent_images {
background: linear-gradient(to bottom, rgba(237,110,0,0.14) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.index-page-section#newsfeed {
background: linear-gradient(to bottom, rgba(172, 174, 251, 0.25) 0%,rgba(0,0,0,0) 100%); /* W3C */
}


.index-page-thumb-button {
	border:0;
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: transparent;
}

#recent_images .index-page-thumb-button {
	background-image: url(/img/svg-buttons/more-recent-images.svg);
}

#recent_favorites .index-page-thumb-button {
	background-image: url(/img/svg-buttons/more-recent-favorites.svg);
}

#top_favorites .index-page-thumb-button {
	background-image: url(/img/svg-buttons/more-top-favorites.svg);
}

#editor_choice .index-page-thumb-button {
	background-image: url(/img/svg-buttons/more-editor-choice.svg);
}

#newsfeed .index-page-thumb-button {
	background-image: url(/img/svg-buttons/more-newsfeed.svg);
}





.rich-comment {
	clear: both;
	min-height: 88px;
}

.rich-comment .rich-comment-image {
	width: 110px;
	height: 84px;
	float: left;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 4px;
	background-color: white;
}

.rich-comment .comment {
	margin-left: 118px;
}


.dummy-banner {
	background-color: #6B9CE7;
	color: white;
	font-size: 32px;
	padding: 20px;
	left: 0;
    right: 0;
    margin: auto;
}

.dummy-banner.dummy-banner-bottom {
	width: auto;
	height: 150px;
}

.thumbnail-wrapper {
	width: 240px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.thumbnail-wrapper .thumbnail {
	cursor: pointer;
}

.index-featured-artists-wrapper {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

#search-form {
	display: none;
}

#index-logo-image {
	float: left;
}

.header-item-wide {
	display:none;
}


.nocollapse {
	margin:0;
}
.nocollapse > li {
	float:none;
    display:inline-block;
}
.nocollapse > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.nocollapse > li.open > ul.dropdown-menu {
  position: absolute;
  left: auto;
  right: 0;  
  border: 1px;
  background-color: white;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.alternative-emails .alert-info:last-child {
	margin-bottom: 0;
}

.alternative-emails #alternative-email {
	max-width: calc(100% - 30px);
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    display: inline-block;
}

.my-profile-menu-text {
	font-weight: 600;
}

.my-profile-menu-email {
	font-size: 12px;
	color: #888;
}

.notification-container .notification-icon {
	font-size: 28px;
	float: left;
	width: 32px;
	height: 32px;
	text-align: center;
}

.notification-container .notification-icon .icon-comment {
	color: #62b6ff;
}

.notification-container .notification-icon .icon-star {
	color: #ffc75d;
}

.notification-container .notification-icon .icon-warning-sign {
	color: #ff7d3d;
}

.notification-container .notification-icon .icon-user {
	color: #67da69;
}

.notification-container .comment {
	margin-left: 40px;
}

.btn-tiny {
	padding: 2px 10px;
}

.smiles-dropdown {
	max-width: 215px;
}

.smiles-dropdown li {
	display: inline-block;
	font-size: 18px;
}

.smiles-dropdown li a {
	padding-left: 5px;
	padding-right: 5px;
}


@media (max-width: 320px) {
	.image-details-image {
		min-height: 250px;
	}
}


@media (max-width: 510px) {
	.dummy-banner {
		width: 300px;
		height: 60px;
	}
	
	.sidebar-adv {
		margin-bottom: 10px;
	}
	
	.content {
		
	}
	
	.container {
		width: 100%;
	}
	
	.row {
		text-align: center;
	}
	
	.index-featured-artists-wrapper {
		width: 100%;
	}
	
	.single-container {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	#index-logo-image {
		float: none;
		text-align: center;
	}
	
	.header-user-panel li a {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.rich-comment .rich-comment-image {
		display: none;
	}
	
	.rich-comment .comment {
		margin-left: 0;
	}

	.thumbnail-wrapper {
		float: none;
		display: inline-block;
		width: 140px;
	}
	
	.thumb-details {
		display: none;
	}
	
	.thumb-image {
		width: 100px;
		height: 75px;
	}			
}


@media (min-width:510px) and (max-width: 740px) {
	.dummy-banner {
		width: 468px;
		height: 60px;
	}
	
	.sidebar-adv {
		margin-bottom: 10px;
	}
	
	.content {
		
	}
	
	.container {
		width: 480px;
	}
	
	.index-featured-artists-wrapper {
		width: 100%;
	}
	
	.row {
		text-align: center;
	}
	
	.thumbnail-wrapper {
		float: none;
		display: inline-block;
		width: 140px;
	}
	
	.thumb-details {
		display: none;
	}
	
	.thumb-image {
		width: 100px;
		height: 75px;
	}		
}

@media (min-width: 740px) and (max-width: 920px) {
	.dummy-banner {
		width: 468px;
		height: 60px;
	}
	
	.sidebar-adv {
		margin-bottom: 10px;
	}
	
	.content {
		
	}
	
	.container {
		width: 720px;
	}
	
	.index-featured-artists-wrapper {
		width: 100%;
	}
	
	.header-item-wide {
		display:inline;
	}
	
}


@media (min-width: 920px) and (max-width: 1150px) {
	.dummy-banner {
		width: 160px;
		height: 600px;
	}
	
	.sidebar-adv {
	    position:absolute;
	    right:0; 
	    width: 180px;
	}
	
	.content {
	    margin-right: 180px;
	    margin-left:auto !important;
	}
	
	.container {
		width: 720px;
	}
	
	.index-featured-artists-wrapper {
		width: 100%;
	}
	
	.header-item-wide {
		display:inline;
	}	
	
	.image-details-favorite-wrapper {
		position: absolute;
	}	
}

@media (min-width: 1150px) {
	.dummy-banner {
		width: 160px;
		height: 600px;
	}
	
	.sidebar-adv {
	    position:absolute;
	    right:0; 
	    width: 180px;
	}
	
	.content {
	    margin-right: 180px;
	    margin-left:auto !important;
	}
	
	.container {
		width: 960px;
	}
	
	#search-form {
		display: block;
	}
	
	.index-featured-artists-wrapper {
		width: 50%;
	}
	
	.header-item-wide {
		display:inline;
	}
	
	.image-details-favorite-wrapper {
		position: absolute;
	}		
}


/**
 * 	Spinner
 */

.spinner-wrapper {
	position: relative;
	height: 150px;
}

.spinner{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #337ab7;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}


