body {
	padding-top:50px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.common-page-footer {
	border-top: 1px solid rgb(200,200,200);
	background-image: linear-gradient(bottom, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
	text-align: center;
}

.grid-selector-wrapper {
	display:inline-block;
	border: solid 1px #CCC;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	margin: 15px;
	height:120px;
	width:190px;
}


.painter-canvas-wrapper {
	overflow : scroll; 
	padding-left:2px;
	margin-left: 200px !important;
}

.painter-toolbar-full {
	position: fixed;
	left:0;
	width:200px;
}

.painter-toolbar {
	display:inline-block;
	z-index: 1;
	width:175px;
	/*margin:10px;*/
	margin-top:10px; 
	padding:0;
	/*padding: 10px 5px 5px 10px;*/
	text-align:center;
	border: solid 1px #CCC;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	background-color: white;
}

.painter-toolbar #shapes-toolbar {
	padding: 10px 5px 5px 10px;
}

.painter-toolbar #selected-color {
	float:left;	
	width:30px;	
	height:30px; 
	cursor:pointer; 
	overflow:hidden; 
	border:1px solid #666666;	
	margin:1px;
}

.painter-toolbar #color-palette div {
	float:left;
	width:13px;
	height:13px;
	cursor:pointer;
	overflow:hidden; /* for IE6 */
	border:1px solid #666666;
	margin:1px;
}

.painter-toolbar-header {
	background-color: #f0f0f0;
	padding-left: 5px;
	padding-right: 5px;
}

.painter-toolbar-container {
	padding: 2px;
}

.grid-shape-button {
}

/* 
 * Thumbnails
 */

.thumb-container {
	min-height:610px;
}

.thumb-button {
	border:1px solid white;
	box-shadow: none;
}

.thumb-button .thumb-button-image {
	width:200px; 
	height:150px; 
	text-align: center;
	margin: auto;	
}

.thumb-image {
	width:200px; 
	height:150px; 
	text-align: center;
	margin: auto;
}


.thumb-title {
	width:200px; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
	font-size:12pt;
	font-weight: bold;
}

.thumb-auhtor {
	font-size:10pt;
}

.thumb-date {
	font-size:8pt;
}

/**
 * 	Image details classes
 */

.image-details-container {
	min-height:600px;
}

.image-details-image {
	/*margin:10px;*/
	/*padding:10px;*/
	text-align: center;
}

.image-details-header {
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	margin:10px;
	padding:10px;
	background-color: #f0f0f0;
}

.image-details-header h3 {
	margin-top:0;
	margin-bottom:0;
}

.image-details-actions {
	margin:10px;
}

.image-details-artist {
	font-weight: bold;
}

.image-details-comments {
	margin:10px;
}

.image-details-comments .comment {
	background-color: #f4f4f4;
	border-radius: 5px;
	border: solid 1px #a0a0a0;
	margin-bottom: 10px;
}

.image-details-comments .comment .comment-header {
	background-color: #e8e8e8;
	border-bottom: solid 1px #b0b0b0;
	padding: 2px 10px 2px 10px;
	font-size: 9pt;
}

.image-details-comments .comment .comment-text {
	padding: 4px 10px 4px 10px;
	border: none;
	background: none;
	font-size: 12pt;
	margin-bottom: 0;
}

.image-details-comment-add {
	margin:10px;
}

/*
 * Misc styles
 */

.delimiter {
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	width:80%;
	height:1px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	background-color: #a0a0a0;
	border: 1 solid #a0a0a0;
}

.empty-page-message {
	padding-top:60px;
	text-align:center;
	font-size: 32pt; 
	color: #e0e0e0; 
	font-weight: bold;
	line-height: 40pt;
	text-shadow: #a0a0a0 1px 2px 2px;
}


/*
 * Flat scrollbars 	
 */

::-webkit-scrollbar {
      width: 12px;
      height: 12px;
} 
::-webkit-scrollbar-track {
      background-color: #e0e0e0;
} 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 8px;
} 
/*
::-webkit-scrollbar-button {
      background-color: #808080;
      -webkit-border-radius: 8px;
} */
::-webkit-scrollbar-corner {
      background-color: #606060;
} 

/*
::-webkit-scrollbar-track-piece {
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}*/


/*
 * For place ads to the right
 */

.sidebar-adv {
    /*padding: 9px 0;*/
    position:absolute;
    right:0; 
    /*margin-top:60px;*/
    width: 180px;
}

/*
.row-fluid > .sidebar-nav {
    position: relative;
    top: 0;
    left:auto;
    width: 180px;
}

/*
.left {
    float:left;
}

.right {
    float:right;
}

.fixed-fluid {
    margin-left: 180px;
}*/
.fluid-fixed {
    margin-right: 180px;
    margin-left:auto !important;
}

/*
.fixed-fixed {
    margin: 0 180px;
}*/


/**
 * 	Bootstrap 2.3.3 issue
 */

.typeahead.dropdown-menu { z-index: 200000; }
.modal-body{overflow-y: inherit;}

