body {
	padding-top:50px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.grid-selector-wrapper {
	display:inline-block;
	border: solid 1px #CCC;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	margin: 15px;
	height:120px;
	width:190px;
}


.painter-canvas-wrapper {
	overflow : scroll; 
	padding-left:2px;
}

.painter-toolbar {
	display:inline-block;
	z-index: 1;
	width:175px;
	/*margin:10px;*/
	margin-top:10px; 
	padding:0;
	/*padding: 10px 5px 5px 10px;*/
	text-align:center;
	border: solid 1px #CCC;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	background-color: white;
}

.painter-toolbar #shapes-toolbar {
	padding: 10px 5px 5px 10px;
}

.grid-shape-button {
}

/* 
 * Thumbnails
 */

.thumb-image {
	width:300px; 
	height:200px; 
	text-align: center;
}

.thumb-title {
	width:300px; 
	height:40px; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

/*
 * Flat scrollbars 	
 */

::-webkit-scrollbar {
      width: 12px;
      height: 12px;
} 
::-webkit-scrollbar-track {
      background-color: #e0e0e0;
} 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 8px;
} 
/*
::-webkit-scrollbar-button {
      background-color: #808080;
      -webkit-border-radius: 8px;
} */
::-webkit-scrollbar-corner {
      background-color: #606060;
} 

/*
::-webkit-scrollbar-track-piece {
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}*/


/*
 * For place ads to the right
 */

.sidebar-adv {
    /*padding: 9px 0;*/
    position:fixed;
    right:0; 
    /*margin-top:60px;*/
    width: 180px;
}

/*
.row-fluid > .sidebar-nav {
    position: relative;
    top: 0;
    left:auto;
    width: 180px;
}

/*
.left {
    float:left;
}

.right {
    float:right;
}

.fixed-fluid {
    margin-left: 180px;
}*/
.fluid-fixed {
    margin-right: 180px;
    margin-left:auto !important;
}

/*
.fixed-fixed {
    margin: 0 180px;
}*/