{% extends "base.html" %}


{% block content_full %}

<div class="container">
<div class="row">
	<div class="offset2 span8">
		<p>Iterate artworks starting from <span id="offset_index" style="font-weight: bold">0</span></p>
		<p>
			<button type="button" id="update_button">Iterate</button>
		</p>
	</div>
</div>
</div>

<script>
var offset = 0;

$(function() {
	$("#update_button").click(function() {
		$.get("/admin/update-iterate-artworks-do?offset="+offset, 
			function(data) {
				$("#offset_index").text(data);
				offset=parseInt(data,10);
			})
	})
})
</script>

  
{% endblock content_full %}


