<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Grid Painter{% endblock %}</title>
{% block include_css %}
 <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
 <link href="/css/main.css" rel="stylesheet">
 <!--<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->
{% endblock %}
{% block rss %}
{% endblock %} 
</head> 


<body>

{% block include_js %}
<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/raphael-min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
{% endblock %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/">Grid paint</a>
    <ul class="nav">
      <li class="active"><a href="#">Gallery</a></li>
      <li><a href="/images/my">My images</a></li>
      <li><a href="/new-image">New image</a></li>
    </ul>
    <ul class="nav pull-right">
      {% if user_info.user_name%}
        <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      {% if user_info.superadmin %}&nbsp;<i class="icon-star-empty"></i>{% endif%}
		      {{ user_info.user_name }}<b class="caret"></b>
		    </a>
		    <ul class="dropdown-menu">
		  	  <li><a href="{{ user_info.login_url }}">{{ user_info.login_url_text }}</a></li>
		    </ul>
        </li>      
      {% else %}
        <li>
		  <a href="{{ user_info.login_url }}">{{ user_info.login_url_text }}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>




{% block content %}
{% endblock %}

</body>
</html>