{% extends "base-adv.html" %}


{% block content %}

<div class="container">

<h2>History of changes</h2>


<div class="image-details-comments">
	<div class="comment">
		<div class="comment-header"><b>14.09.2013</b> Version 0-03</div>
		<div class="comment-text"><b>Shift image</b><br>
			Now you can move whole image on workspace to change free space on edges.</div>
	</div>	
	
	<div class="comment">
		<div class="comment-header"><b>12.09.2013</b> Version 0-02</div>
		<div class="comment-text"><b>Pick color</b><br>
			New button for color selection by pointing on desired cell 
			was added to toolbar in painting mode.</div>
	</div>
	
	<div class="comment">
		<div class="comment-header"><b>30.08.2013</b> Version 0-01</div>
		<div class="comment-text"><b>Project opened</b><br>
			A new online editing tool <b>Grid Paint</b> was opened.
			Here you can create your own pixel art images using squared, triangular or hexagonal grids.
			Images can be downloaded in PNG or SVG formats. 
			You can share your images with your friends in Facebook, Twitter or Google+.</div>
	</div>	
</div>




</div>

  
{% endblock content %}


