{% extends "base-adv.html" %}


{% block content %}  
<div style="min-height:610px;">

<ul class="thumbnails span12">	
{% for a in artworks %}
	<li class="thumbnail">
  		<div class="thumb-image">
  			<a href="/images/details/{{ a.key }}">
			  <img src="/images/png/{{ a.key }}.png" width="{{ a.thumbnail_width }}" height="{{ a.thumbnail_height }}">
			</a>
		</div>
		<div class="caption" >
			<div class="thumb-title">{{ a.name }}</div>
			<div class="thumb-author">{{ a.author }}</div>
			<div class="thumb-date">{{ a.date|date:"d M Y H:i" }}</div>
		</div>
	</li>
{% endfor %}
</ul>
</div>


{% endblock content %}
