{% extends "base.html" %}


{% block content %}  

<div class="row-fluid">

<ul class="thumbnails span12">	
{% for a in artworks %}
  <li class="thumbnail">
  	<div style="width:300px; height:200px; text-align: center;">
  	  <img src="/images/png/{{ a.key }}" width="{{ a.thumbnail_width }}" height="{{ a.thumbnail_height }}">
  	</div>
  	<div class="caption" >
  		<h3 style="width:300px; height:40px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ a.name }}</h3>
  	  <div>
  	    <a href="/painter?id={{ a.key }}" class="btn btn-small btn-success" title="Edit image"><i class="icon icon-pencil icon-white"></i></a>
  	    <a href="/painter?id={{ a.key }}" class="btn btn-small btn-danger" title="Delete image"><i class="icon icon-remove icon-white"></i></a>
  	    <a href="/images/png/{{ a.key }}" class="btn btn-small" title="Download PNG"><i class="icon icon-arrow-down"></i>PNG</a>
  	    <a href="/images/svg/{{ a.key }}" class="btn btn-small" title="Download SVG"><i class="icon icon-arrow-down"></i>SVG</a>
  	  </div>
  	</div>
  	
  </li>
{% endfor %}
</ul>

</div>







{% endblock content %}