{% extends "base-adv.html" %}


{% block content %}  

<div class="row-fluid">

<ul class="thumbnails span12">	
{% for a in artworks %}
	<li class="thumbnail">
  		<div class="thumb-image">
  			<a href="/images/details/{{ a.key }}">
			  <img src="/images/png/{{ a.key }}.png" width="{{ a.thumbnail_width }}" height="{{ a.thumbnail_height }}">
			</a>
		</div>
		<div class="caption" >
			<h3 class="thumb-title">{{ a.name }}</h3>
		</div>
	</li>
{% endfor %}
</ul>

</div>



<div id="modal-confirm-delete" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Confirmation</h3>
  </div>
  <div class="modal-body">
    <p>One fine body</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" id="btn-confirm-delete" class="btn btn-danger">Delete</a>
  </div>
</div>


<script>
$(function() {
	$(".btn-delete-image").click(
		function() {
			var imageName=$(this).parents(".thumbnail").find(".thumb-title").text();
			$("#modal-confirm-delete .modal-body").html(
				"<p>Are you sure to delete image <i>'"+imageName+"'</i></p>");
			$("#btn-confirm-delete").attr("href","/delete-image?id="+$(this).attr("image-key"))
			$("#modal-confirm-delete").modal('show');
		}
	)
	
	$("#top-menu-my-images").addClass("active");
})
</script>
{% endblock content %}


{% block navigation %}
<ul class="pager pull-left" style="margin:10px;">
  {% if has_prev_page %}	
      <li class=""><a href="/my-images?offset={{ prev_offset }}">&larr; Prev</a></li>
  {% else %}
      <li class="disabled"><a href="">&larr; Prev</a></li>
  {% endif%}
  
  {% if has_next_page %}
      <li class=""><a href="/my-images?offset={{ next_offset }}">Next &rarr;</a></li>
  {% else %}
      <li class="disabled"><a href="">Next &rarr;</a></li>
  {% endif %}
</ul>
{%  endblock navigation%}