{% extends "base-adv.html" %}


{% block content %}
<div style="min-height:610px;">

<div class="container">

<h2>Notifications on comments</h2>


<div class="image-details-comments">
	{% for n in notifications %}
	<div class="comment">
		<div class="comment-header">
			<h2><a href="/images/details/{{ n.artwork.key.id }}">{{ n.artwork.name }}</a></h2>
			<div>{{ n.date }} <b>{{n.comment.author}}</b></div>
		</div>		
		<div class="comment-text">
			{{ n.comment.text}}
		</div>
	</div>						
	{% endfor %}
</div>

</div>

 
</div>
{% endblock content %}


