{% extends "base.html" %}

{% block include_css %}
 {{ block.super }}
 <link href="/css/jquery.minicolors.css" rel="stylesheet">
{% endblock %}

{% block content %}  

<script src="/js/jquery.minicolors.js"></script>

<div class="row-fluid">
	<div class="span2 text-center">
		<div id="color-selection" >
			<div id="color-picker"></div>
		</div>
		<div class="painter-toolbar">
			<div id="shapes-toolbar"></div>
		</div>
		<div id="coordinates"></div>
		<div id="test"></div>
	</div>
	
	<div class="span10">
		<div id="canvas-wrapper" class="painter-canvas-wrapper">
			<div id="canvas"></div>			
		</div>
		
	</div>
</div>

<script src="/js/grids.js"></script>

<script>
// RaphaelJS documentation - http://raphaeljs.com/reference.html
// JQuery Minicolors color picker documentation - http://labs.abeautifulsite.net/jquery-miniColors/

var paper;
var grid;
var selectedShapeName=null;
var selectedColor="#3377ee";


// 
function adjustCanvasWrapper() {
	$("#canvas-wrapper").height($(window).height()-50);
}

function paintShapeToolButton(shapeName) {
	var shape;
	for (var i=0; i<grid.shapes.length; i++) {
		if (grid.shapes[i].name==shapeName) {
			shape=grid.shapes[i];
			break;
		}
	}
	
	$("#shape-"+shapeName).html("");

	var shapeRect=grid.getShapeRect();
	var shapePoint=grid.centerPointToBasePoint(shapeRect.w / 2+10, shapeRect.h / 2+10);	
	var shapePaper=new Raphael("shape-"+shapeName, shapeRect.w+20, shapeRect.h+20);
	
	if (shapeName==selectedShapeName) {
		var bgElement=shapePaper.ellipse(shapeRect.w/2+10, shapeRect.h/2+10,
			shapeRect.w/2+10, shapeRect.h/2+10);
		bgElement.attr({"fill":"r#ffffff:40-#cccccc", "stroke-width":0});
	}
	grid.shapes[i].paint(shapePaper, shapePoint, selectedColor);
}

function createShapesToolbar() {
	var shapeElements="";
	for (var i=0; i<grid.shapes.length; i++) {
		shapeElements+='<span id="shape-'+grid.shapes[i].name+
			'" class="grid-shape-button" shape-name="'+
			grid.shapes[i].name+'"></span>';
	}
	
	$("#shapes-toolbar").html(shapeElements);
	
	for (var i=0; i<grid.shapes.length; i++) {
		if (i==0) {
			selectedShapeName=grid.shapes[i].name;
		}
		paintShapeToolButton(grid.shapes[i].name);
	}
	
	$(".grid-shape-button").click(
		function() {
			var oldSelectedShapeName=selectedShapeName;
			selectedShapeName=$(this).attr("shape-name");
			for (var i=0; i<grid.shapes.length; i++) {
				if (grid.shapes[i].name==selectedShapeName ||
					grid.shapes[i].name==oldSelectedShapeName) {
					paintShapeToolButton(grid.shapes[i].name);		
				}
			}
		}
	)
}


$(function() {
	adjustCanvasWrapper();
	$(window).resize(
		function() {
			adjustCanvasWrapper();
		})
			
	paper=new Raphael("canvas",2000,2000);
	grid=new {{ grid }}();
	grid.paintGrid(paper);
	createShapesToolbar();
	
	$("#canvas").mousemove(
		function(event) {
			var cell=grid.pointToCell(event.offsetX,event.offsetY);
			$("#coordinates").text(cell.col+" "+cell.row);
		}
	)
	
	$("#color-picker").minicolors({
		inline:true,
		control: "brightness",
		change: function(hex,opacity) {
			selectedColor=hex;
			for (var i=0; i<grid.shapes.length; i++) {
				paintShapeToolButton(grid.shapes[i].name);
			}
		}
	}).minicolors("value",selectedColor);
})
</script>

{% endblock %}
