{% extends "base.html" %}

{% block include_css %}
 {{ block.super }}
 <link href="/css/jquery.minicolors.css" rel="stylesheet">
{% endblock %}

{% block content %}  

<script src="/js/jquery.minicolors.js"></script>

<div class="row-fluid">
	<div class="span2 text-center">
		<div id="color-selection" >
			<div id="color-picker"></div>
		</div>
		<div class="painter-toolbar">
			<div id="shapes-toolbar"></div>
		</div>
		<div id="coordinates"></div>
		<div id="test"></div>
	</div>
	
	<div class="span10">
		<div id="canvas-wrapper" class="painter-canvas-wrapper">
			<div id="canvas"></div>			
		</div>
		
	</div>
</div>

<script src="/js/grids.js"></script>

<script>
// RaphaelJS documentation - http://raphaeljs.com/reference.html
// JQuery Minicolors color picker documentation - http://labs.abeautifulsite.net/jquery-miniColors/

var paper;
var grid;
var selectedShapeName=null;
var selectedColor="#3377ee";
var paperMouseDown=false;

var gridArtwork=new GridArtwork();


// 
function adjustCanvasWrapper() {
	$("#canvas-wrapper").height($(window).height()-50);
}

function paintShapeToolButton(shapeName) {
	var shape=grid.shapes[shapeName];
	
	$("#shape-"+shapeName).html("");

	var shapeRect=grid.getShapeRect();
	var shapePoint=grid.shapeCenterToBasePoint(shapeRect.w / 2+10, shapeRect.h / 2+10);	
	var shapePaper=new Raphael("shape-"+shapeName, shapeRect.w+20, shapeRect.h+20);
	
	if (shapeName==selectedShapeName) {
		var bgElement=shapePaper.ellipse(shapeRect.w/2+10, shapeRect.h/2+10,
			shapeRect.w/2+10, shapeRect.h/2+10);
		bgElement.attr({"fill":"r#ffffff:40-#cccccc", "stroke-width":0});
	}
	shape.paint(shapePaper, shapePoint, selectedColor);
}

function createShapesToolbar() {
	var shapeElements="";
	for (var shapeName in grid.shapes) {
		shapeElements+='<span id="shape-'+shapeName+
			'" class="grid-shape-button" shape-name="'+
			shapeName+'"></span>';
	}
	
	$("#shapes-toolbar").html(shapeElements);
	
	selectedShapeName="flat";
	for (var shapeName in grid.shapes) {
		paintShapeToolButton(shapeName);
	}
	
	$(".grid-shape-button").click(
		function() {
			var oldSelectedShapeName=selectedShapeName;
			selectedShapeName=$(this).attr("shape-name");
			for (var shapeName in grid.shapes) {
				if (shapeName==selectedShapeName ||
					shapeName==oldSelectedShapeName) {
					paintShapeToolButton(shapeName);		
				}
			}
		}
	)
}

function paintOnCanvasByMouseEvent(event) {
	var cell=grid.pointToCell(
		event.pageX - $("#canvas").position().left+$("#canvas-wrapper").scrollLeft(),
		event.pageY - $("#canvas").position().top+$("#canvas-wrapper").scrollTop());
	$("#coordinates").text(cell.col+" "+cell.row);
			
	if (paperMouseDown) {
		var item=gridArtwork.setItem(cell.col, cell.row, selectedShapeName, selectedColor);
		if (!item.element && item.shapeName!="empty") {
			var p=grid.getCellPoint(cell.col, cell.row);
			var element=grid.shapes[selectedShapeName].paint(paper, p, selectedColor)
			item.element=element;
		}
	}
}


$(function() {
	adjustCanvasWrapper();
	$(window).resize(
		function() {
			adjustCanvasWrapper();
		})
			
	paper=new Raphael("canvas",2000,2000);
	grid=new {{ grid }}();
	grid.paintGrid(paper);
	createShapesToolbar();
	
	$("#canvas")
	.mousedown(
		function(event) {
			paperMouseDown=true;
			paintOnCanvasByMouseEvent(event);
		}
	)
	.mouseup(
		function(event) {
			paperMouseDown=false;
		}
	)
	.mousemove(
		function(event) {
			paintOnCanvasByMouseEvent(event);
		}
	)
	
	$("#color-picker").minicolors({
		inline:true,
		control: "brightness",
		change: function(hex,opacity) {
			selectedColor=hex;
			for (var shapeName in grid.shapes) {
				paintShapeToolButton(shapeName);
			}
		}
	}).minicolors("value",selectedColor);
})
</script>

{% endblock %}
